<div class='logo-container'>
  {{#link-to 'index'}}
    <img src='/assets/images/upfluence-air-light-blue.png' />

    {{#if isTopbarStyle}}
      <span>Upfluence</span>
    {{/if}}
  {{/link-to}}
</div>

{{yield}}
