<div class='logo-container'>
  <a href='/'>
    {{#if hasLogo}}
      <img src='{{logo}}' />
    {{else if isTopbarStyle}}
      <img src='/assets/images/upfluence-full-blue-logo.svg' />
    {{else}}
      <img src='/assets/images/upfluence-white-logo.svg' />
    {{/if}}
  </a>
</div>

{{yield}}