<div class='logo-container'>
  {{#link-to 'index'}}
    {{#if isTopbarStyle}}
      <img src='/assets/images/{{randomFullLogo}}.png' />
    {{else}}
      <img src='/assets/images/upfluence-fire-white.png' />
    {{/if}}
  {{/link-to}}
</div>

{{yield}}
