{{yield}}

{{#if this.error}}
  <span class="col-xs-12 upf-input-feedback upf-input-feedback--error">
    <i class="fa fa-exclamation-circle" aria-label={{this.error}}>
    </i>
  </span>
{{else if this.help}}
  <span class="col-xs-12 upf-input-feedback upf-input-feedback--help">
    <i class="fa fa-question-circle" aria-label={{this.help}}>
    </i>
  </span>
{{/if}}
