{{#link-to route class='sidebar-item__link' data-toggle='tooltip'
                 data-placement='right' title=title}}
  <div class='sidebar-item__icon'>
    <div class='product-icon'>
      {{yield}}
    </div>
  </div>
{{/link-to}}
