{{#sortable-group
  direction="x" model=_columns onChange=(action "reorderColumns") as |group|}}
  <div class="table-v2">
    {{#if hasSelection}}
      <div class="table-v2__column table-v2__column--selection">
        <div class="table-v2__cell table-v2__cell--header">
          {{upf-checkbox value=allRowsSelected}}
        </div>

        {{#each collection as |item|}}
          <div class="table-v2__cell">
            {{upf-checkbox value=item.selected}}
          </div>
        {{/each}}
      </div>
    {{/if}}

    {{#each _columns as |column|}}
      {{#if column.visible}}
        {{#sortable-item
          classNames="table-v2__column" model=column group=group
          handle=".table-v2__cell--header"}}
          {{#upf-table/cell header=true}}
            {{column.title}}

            <div class="icon-commands">
              <i class="text-size-6 fa fa-filter"></i>
              <i class="text-size-6 fa fa-bars fa-rotate-90"></i>
            </div>
          {{/upf-table/cell}}

          {{#each collection as |item|}}
            {{upf-table/cell item=item property=column.property}}
          {{/each}}
        {{/sortable-item}}
      {{/if}}
    {{/each}}
  </div>
{{/sortable-group}}
