{{#sortable-group
  direction="x" model=_columns onChange=(action "reorderColumns") as |group|}}
  <div class="table-v2">
    {{#each _columns as |column|}}
      {{#sortable-item classNames="table-v2__column" model=column group=group}}
        {{#upf-table/cell header=true}}
          {{column.title}}
        {{/upf-table/cell}}

        {{#each collection as |item|}}
          {{upf-table/cell item=item property=column.property}}
        {{/each}}
      {{/sortable-item}}
    {{/each}}
  </div>
{{/sortable-group}}
