<div class='upf-progress'>
  <div class='progress-bar' role='progressbar' aria-valuenow='{{progressValue}}'
       aria-valuemin='0' aria-valuemax='100' style='max-width: {{progressValue}}%'>
  </div>
</div>

{{#if progressLabel}}
  <span class='upf-progress__label'>
    {{progressLabel}}
  </span>
{{/if}}
