<div class='upf-progress'>
  <div class='progress-bar' role='progressbar' aria-valuenow='{{value}}'
       aria-valuemin='0' aria-valuemax='100' style='max-width: {{value}}%'>
  </div>
</div>

{{#if label}}
  <span class='upf-progress__label'>
    {{label}}
  </span>
{{/if}}
