<thead>
  <tr>
    {{#if hasSelection}}
      <th class='upf-table__header'>Select all</th>
    {{/if}}

    {{#each columns as |column|}}
      <th class='upf-table__header'>{{column.title}}</th>
    {{/each}}
  </tr>
</thead>

<tbody>
  {{#each collection as |item index|}}
    {{#upf-table/row ref=item}}
      {{#if hasSelection}}
        <td>{{upf-checkbox value=item.selected}}</td>
      {{/if}}

      {{#each columns as |column|}}
        <td>{{get item column.property}}</td>
      {{/each}}
    {{/upf-table/row}}
  {{/each}}
</tbody>
