<div class='upf-card__icon'>
  <img src={{imageSrc}} />
</div>

<div class='upf-card__title text-size-8 text-color-default'>
  {{title}}
</div>

<div class='upf-card__description text-size-5 text-color-default-light'>
  {{{description}}}
</div>