{{input
  type='checkbox'
  checked=value
  class='upf-checkbox__input'
  id=(concat 'unchecked-checkbox-' elementId)
  disabled=disabled
}}

<label for={{concat 'unchecked-checkbox-' elementId}} class='upf-checkbox__fake-checkbox'>
</label>

{{#if hasLabel}}
  <span class='upf-checkbox__label'>{{yield}}</span>
{{/if}}