<thead>
  <tr>
    {{#if hasSelection}}
      <th width="70" class="unsortable visible_on_hover">Select all</th>
    {{/if}}

    {{#each columns as |column|}}
      <th>{{column.title}}</th>
    {{/each}}
  </tr>
</thead>

<tbody>
  {{#each collection as |data index|}}
    <tr>
      {{#if hasSelection}}
        <td>
          <div class="upf-checkbox">
            {{input type='checkbox' class='upf-checkbox__input'
                    id=(concat 'unchecked-checkbox-' index)}}
                    <label for={{concat 'unchecked-checkbox-' index}}
                   class='upf-checkbox__fake-checkbox'>
            </label>
          </div>
        </td>
      {{/if}}

      {{#each columns as |column|}}
        <td>{{get data column.property}}</td>
      {{/each}}
    </tr>
  {{/each}}
</tbody>
