<span class='min-max-value min-value'>{{or options.minLabel options.min}}</span>
<input type='text' class='slider' />
<span class='min-max-value max-value'>{{or options.maxLabel options.max}}</span>

{{! Usage Example }}
{{!-- {{upf-slider class="custom-class" options=sliderOptions}} --}}

{{! sliderOptions: {
  min: 0,
  max: 100,
  lowValue: 50,
  mediumValue: 79,
  lowClass: "low",
  mediumClass: "medium",
  highClass: "high",
  onChange: (sliderValue) => {
    console.log(sliderValue);
  }
}, }}