@import "upfluence-oss.less";

@import "stories/colors.less";
@import "stories/colors-v2.less";
@import "stories/variables.less";
@import "stories/tags.less";
@import "stories/upf-icons.less";
@import "stories/flex.less";

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}
