<section class='col-xs-11 center-block stats'>
  <h2 class='col-xs-12'>Displaying Stats</h2>

  <p class='col-xs-12'>
    Stats components are widgets used for providing an insight about a
    given statistic.<br>

    Even though they can take any type of text, it's really advised to just
    stick with a number and a title (and additionally, an icon). The number
    being the value of the displayed stat, and the title being its user
    friendly name.
  </p>

  <div class='col-xs-8 center-block'>
    <div class='row'>
      <div class='col-xs-2'>
        {{upf-stat name='Value' data=387}}
      </div>

      <div class='col-xs-2'>
        {{upf-stat name='Value' data=387 icon='pause' iconClass='text-color-success'}}
        {{upf-progress value=75}}
      </div>
    </div>
  </div>
</section>
