<div class='row'>
  <div class='col-xs-12'>
    <div class='row'>
      <div class='col-xs-6'>
        <h4>Primary Colourful</h4>
      </div>

      <div class='col-xs-6'>
        <h4>Secondary Colourful</h4>
      </div>
    </div>
  </div>

  <div class='col-xs-12'>
    <div class='row'>
      <div class='col-xs-2'>
        <button class='btn upf-btn'>Normal State</button>
      </div>

      <div class='col-xs-2'>
        <button class='btn upf-btn active'>Active/Hover</button>
      </div>

      <div class='col-xs-2'>
        <button class='btn upf-btn disabled'>Disabled</button>
      </div>

      <div class='col-xs-2'>
        <button class='btn upf-btn--reversed'>Normal State</button>
      </div>

      <div class='col-xs-2'>
        <button class='btn upf-btn--reversed active'>
          Active/Hover
        </button>
      </div>

      <div class='col-xs-2'>
        <button class='btn upf-btn--reversed disabled'>
          Disabled
        </button>
      </div>
    </div>
  </div>

  <div class='col-xs-12'>
    <div class='row'>
      <div class='col-xs-6'>
        <h4>Primary Dark</h4>
      </div>

      <div class='col-xs-6'>
        <h4>Secondary Dark</h4>
      </div>
    </div>
  </div>

  <div class='col-xs-12'>
    <div class='row'>
      <div class='col-xs-2'>
        <button class='btn upf-btn--dark'>Normal State</button>
      </div>

      <div class='col-xs-2'>
        <button class='btn upf-btn--dark active'>Active/Hover</button>
      </div>

      <div class='col-xs-2'>
        <button class='btn upf-btn--dark disabled'>Disabled</button>
      </div>

      <div class='col-xs-2'>
        <button class='btn upf-btn--dark--reversed'>
          Normal State
        </button>
      </div>

      <div class='col-xs-2'>
        <button class='btn upf-btn--dark--reversed active'>
          Active/Hover
        </button>
      </div>

      <div class='col-xs-2'>
        <button class='btn upf-btn--dark--reversed disabled'>
          Disabled
        </button>
      </div>
    </div>
  </div>
</div>
