<div class='col-xs-6'>
  <div class='row'>
    <div class='col-xs-12'>
      <h4>Standard Input</h4>
      {{#input-wrapper}}
        <input type='text' placeholder='Placeholder text for input'
               class='form-control upf-input' />
      {{/input-wrapper}}
    </div>

    <div class='col-xs-12'>
      <div class='row'>
        <div class='col-xs-6'>
          <h4>Standard Error Input</h4>
          <p>
            An input field with an error attached to it (generally a validation
            error). You must give the <code>input-wrapper</code> component an
            <code>error</code> argument in order to have that style.
          </p>
          {{#input-wrapper error="Hi! My name is error. But you can call me Nickelback"}}
            {{input type='text' value='This one has an error'
                    class='form-control upf-input'}}
          {{/input-wrapper}}
        </div>

        <div class='col-xs-6'>
          <h4>Standard Embedded Help Input</h4>
          <p>
            We built this one so we can provide users with some help about the input
            they are filling. You must give the <code>input-wrapper</code> component
            an <code>help</code> argument of the Help to show up.
          </p>
          {{#input-wrapper help="Confusing input huh?"}}
            {{input type='text' placeholder='A cool input that even offers some help'
                    class='form-control upf-input'}}
          {{/input-wrapper}}
        </div>
      </div>
    </div>
  </div>
</div>

<div class='col-xs-6'>
  <div class='col-xs-12'>
    <p>
      Below is an example of markup (Handlebar) for an input group. <br /><br />

      Note that if both <code>error</code> and <code>help</code>, the Error will
      have the priority.<br/>
    </p>
    {{code-snippet name='inputs.hbs'}}
  </div>
</div>
