<div class='row'>
  <div class='col-xs-3 color upf-primary-bright-purple'>
    <div class='square'></div>
    <div class='color-meta-overlay'></div>
    <div class='color-meta'>
      <p class='color-hex'>#4C00FF</p>
      <p class='color-name'>@upf-primary-bright-purple</p>
    </div>
  </div>

  <div class='col-xs-3 color upf-primary-dark-purple'>
    <div class='square'></div>
    <div class='color-meta'>
      <p class='color-hex'>#1B0059</p>
      <p class='color-name'>@upf-primary-dark-purple</p>
    </div>
  </div>

  <div class='col-xs-3 color upf-primary-orange'>
    <div class='square'></div>
    <div class='color-meta'>
      <p class='color-hex'>#E24B00</p>
      <p class='color-name'>@upf-primary-orange</p>
    </div>
  </div>

  <div class='col-xs-3 color upf-primary-rock-blue'>
    <div class='square'></div>
    <div class='color-meta'>
      <p class='color-hex'>#8A99B3</p>
      <p class='color-name'>@upf-primary-rock-blue</p>
    </div>
  </div>

  <div class='col-xs-3 color upf-primary-black'>
    <div class='square'></div>
    <div class='color-meta'>
      <p class='color-hex'>#000000</p>
      <p class='color-name'>@upf-primary-black</p>
    </div>
  </div>

  <div class='col-xs-3 color upf-primary-white'>
    <div class='square'></div>
    <div class='color-meta'>
      <p class='color-hex'>#FFFFFF</p>
      <p class='color-name'>@upf-primary-white</p>
    </div>
  </div>
</div>
  {{!--
  <div class='col-xs-2 color upfluence-secondary-light'>
    <div class='square'></div>
    <div class='color-meta-overlay'></div>
    <div class='color-meta'>
      <p class='color-hex'>#1f0882</p>
      <p class='color-name'>secondary-light</p>
    </div>
  </div>

  <div class='col-xs-2 color upfluence-secondary-dark'>
    <div class='square'></div>
    <div class='color-meta-overlay'></div>
    <div class='color-meta'>
      <p class='color-hex'>#000000</p>
      <p class='color-name'>secondary-dark</p>
    </div>
  </div>
  <div class='col-xs-2 color upfluence-success'>
    <div class='square'></div>
    <div class='color-meta-overlay'></div>
    <div class='color-meta'>
      <p class='color-hex'>#129d5a</p>
      <p class='color-name'>success</p>
    </div>
  </div>

  <div class='col-xs-2 color upfluence-gray'>
    <div class='square'></div>
    <div class='color-meta-overlay'></div>
    <div class='color-meta'>
      <p class='color-hex'>#f9f9f9</p>
      <p class='color-name'>gray</p>
    </div>
  </div>


  <div class='col-xs-2 color upfluence-error'>
    <div class='square'></div>
    <div class='color-meta-overlay'></div>
    <div class='color-meta'>
      <p class='color-hex'>#080222</p>
      <p class='color-name'>error</p>
    </div>
  </div>

  <div class='col-xs-2 color upfluence-gray-dark'>
    <div class='square'></div>
    <div class='color-meta-overlay'></div>
    <div class='color-meta'>
      <p class='color-hex'>#c6c6c6</p>
      <p class='color-name'>gray-dark</p>
    </div>
  </div>
  --}}
