<section class='app-header__top'>

  {{#sidebar-item route='typography' title='Typography'}}
    <i class='fa fa-italic'></i>
  {{/sidebar-item}}

  {{#sidebar-item route='colors' title='Colors'}}
    <i class='fa fa-paint-brush'></i>
  {{/sidebar-item}}

  {{#sidebar-item route='inputs' title='Inputs'}}
    <i class='fa fa-check'></i>
  {{/sidebar-item}}


  {{#sidebar-item route='text-editor' title='Text Editor'}}
    <i class='fa fa-edit'></i>
  {{/sidebar-item}}


  {{#sidebar-item route='data-table' title='Data Tables'}}
    <i class='fa fa-table'></i>
  {{/sidebar-item}}
</section>
