<div class='row'>
  <div class='col-xs-3 color upf-feedback-success'>
    <div class='square'></div>
    <div class='color-meta-overlay'></div>
    <div class='color-meta'>
      <p class='color-hex'>#129D5A</p>
      <p class='color-name'>@upf-feedback-success</p>
    </div>
  </div>

  <div class='col-xs-3 color upf-feedback-error'>
    <div class='square'></div>
    <div class='color-meta-overlay'></div>
    <div class='color-meta'>
      <p class='color-hex'>#FF3E00</p>
      <p class='color-name'>@upf-feedback-error</p>
    </div>
  </div>

  <div class='col-xs-3 color upf-feedback-alert'>
    <div class='square'></div>
    <div class='color-meta-overlay'></div>
    <div class='color-meta'>
      <p class='color-hex'>#FF3E00</p>
      <p class='color-name'>@upf-feedback-alert</p>
    </div>
  </div>
</div>
