<div class='upf-table__details-view col-xs-8 center-block'>
  <form>
    <p class='text-size-8'>Details</p>
    <div class='row'>
      <div class='col-xs-6'>
      {{#input-wrapper}}
        <label>Influencer's name</label>
        {{input type='text' class='form-control upf-input' value=record.name}}
      {{/input-wrapper}}
      </div>
    </div>

    <div class='row'>
      <div class='col-xs-6'>
        {{#input-wrapper}}
          <label>Make this contribution visible by the client</label>
          <div class='upf-toggle-btn'>
            {{x-toggle value=record.visibleByClient size='medium'
                       onToggle=(mut record.visibleByClient)}}
          </div>
        {{/input-wrapper}}
      </div>

      <div class='col-xs-6'>
        {{#input-wrapper}}
          <label>Approve this contribution for drafting</label>
          <div class='upf-toggle-btn'>
            {{x-toggle value=record.adminApprovedForDrafting size='medium'
                       onToggle=(mut record.adminApprovedForDrafting)}}
          </div>
        {{/input-wrapper}}
      </div>
    </div>

    {{#input-wrapper}}
      <label class='text-size-5'>Some random additional comment</label>
      <textarea class='upf-input upf-input--textarea' width='100%'>{{record.comment}}</textarea>
    {{/input-wrapper}}
  </form>
</div>
