<section class='app-header__left-side'>
  <div class='header-item'>
    {{#link-to 'typography'}}
      Typography
    {{/link-to}}
  </div>

  <div class='header-item'>
    {{#link-to 'colors'}}
      Colors
    {{/link-to}}
  </div>

  <div class='header-item dropdown'>
    <a id='oss__forms-dropdown' class='upf-link--has-icon' data-toggle='dropdown' aria-expanded='false'>
      Forms <i class='fa fa-chevron-down'></i>
    </a>

    <ul class='dropdown-menu upf-dropdown' aria-labelledby='oss__forms'>
      <li>{{#link-to 'inputs'}}Text Fields{{/link-to}}</li>
      <li>{{#link-to 'buttons'}}Buttons{{/link-to}}</li>
    </ul>
  </div>

  <div class='header-item'>
    {{#link-to 'components'}}
      Components
    {{/link-to}}
  </div>
</section>

<section class='app-header__right-side'>
  <div class='header-item'>
    <a class='btn upf-btn--orange' {{action 'switchHeaderStyle'}}>
        Switch Header Style
    </a>
  </div>
</section>
