<section class='app-header__left-side'>
  <div class='header-item'>
    {{#link-to 'typography' class='upf-link--reset'}}
      Typography
    {{/link-to}}
  </div>

  <div class='header-item'>
    {{#link-to 'colors' class='upf-link--reset'}}
      Colors
    {{/link-to}}
  </div>

  <div class='header-item dropdown'>
    <a id='oss__forms-dropdown' class='upf-link--has-icon upf-link--reset' data-toggle='dropdown' aria-expanded='false'>
      Forms <i class='fa fa-chevron-down'></i>
    </a>

    <ul class='dropdown-menu upf-dropdown' aria-labelledby='oss__forms-dropdown'>
      <li>
        {{#link-to 'inputs' class='upf-link--reset'}}
          Text Fields
        {{/link-to}}
      </li>
      <li>
        {{#link-to 'buttons' class='upf-link--reset'}}
          Buttons
        {{/link-to}}
      </li>
    </ul>
  </div>

  <div class='header-item dropdown'>
    <a id='oss__components-dropdown' class='upf-link--has-icon upf-link--reset' data-toggle='dropdown' aria-expanded='false'>
      Components <i class='fa fa-chevron-down'></i>
    </a>

    <ul class='dropdown-menu upf-dropdown' aria-labelledby='oss__components-dropdown'>
      <li>
        {{#link-to 'text-editor' class='upf-link--reset'}}
          Text Editor
        {{/link-to}}
      </li>
      <li>
        {{#link-to 'data-table' class='upf-link--reset'}}
          Data Tables
        {{/link-to}}
      </li>
    </ul>
  </div>

  <div class='header-item dropdown'>
    <a id='oss__patterns-dropdown' class='upf-link--has-icon upf-link--reset' data-toggle='dropdown' aria-expanded='false'>
      Patterns <i class='fa fa-chevron-down'></i>
    </a>

    <ul class='dropdown-menu upf-dropdown' aria-labelledby='oss__patterns-dropdown'>
      <li>
        {{#link-to 'patterns.stats' class='upf-link--reset'}}
          Stats & Data
        {{/link-to}}
      </li>
    </ul>
  </div>
</section>

<section class='app-header__right-side'>
  <div class='header-item'>
    <a class='btn upf-btn--orange' {{action 'switchHeaderStyle'}}>
        Switch Header Style
    </a>
  </div>
</section>
