<div class='col-xs-12 text-colors--bright-bg'>
  <div class='row'>
    <div class='col-xs-4'>
      <p class='color-text'>Text on bright background</p>
      <p class='color-text'>Default bright background: @upf-primary-white</p>
      <p class='color-text'></p>
    </div>

    <div class='col-xs-4'>
      <p class='color-text'>@color-text</p>
      <p class='color-text-light'>@color-text-light</p>
      <p class='color-text-lighter'>@color-text-lighter</p>
    </div>

    <div class='col-xs-4'>
      <p class='color-text'>rgba(0, 0, 0, 87%)</p>
      <p class='color-text-light'>rgba(0, 0, 0, 54%)</p>
      <p class='color-text-lighter'>rgba(0, 0, 0, 46%)</p>
    </div>
  </div>
</div>

<div class='col-xs-12 text-colors--dark-bg'>
  <div class='row'>
    <div class='col-xs-4'>
      <p class='color-text-contrast'>
        Text on dark/colourful background
      </p>
      <p class='color-text-contrast'>
        Default dark background: @upf-primary-dark-purple
      </p>
    </div>

    <div class='col-xs-4'>
      <p class='color-text-contrast'>@color-text-contrast</p>
      <p class='color-text-contrast-light'>@color-text-contrast-light</p>
      <p class='color-text-contrast-lighter'>@color-text-contrast-lighter</p>
    </div>

    <div class='col-xs-4'>
      <p class='color-text-contrast'>rgba(255, 255, 255, 100%)</p>
      <p class='color-text-contrast-light'>
        rgba(255, 255, 255, 70%)
      </p>
      <p class='color-text-contrast-lighter'>
        rgba(255, 255, 255, 50%)
      </p>
    </div>
  </div>
</div>
