<div class='row'>
  <div class='col-xs-12'>
    <h4>Text Alignment</h4>
    <div>
      <p><code>.upf-align--left</code></p>
      <p class='upf-align--left'>Sliiiiide to the left</p>
    </div>
    <div>
      <p><code>.upf-align--center</code></p>
      <p class='upf-align--center'>At the center of the container</p>
    </div>
    <div>
      <p><code>.upf-align--right</code></p>
      <p class='upf-align--right'>Sliiiiide to the right</p>
    </div>
  </div>
</div>
