<div class={{concat "upf-alert-v2 " this.skinClass}} ...attributes>
  <div class="indicator"></div>
  <div class="main-container">
    <span class="icon">
      <i class={{concat "far " this.iconClass}}></i>
    </span>
    <div class="text-container">
      {{#if @title}}
        <span class="title">{{@title}}</span>
      {{/if}}
      {{#if @subtitle}}
        <span class="subtitle">{{@subtitle}}</span>
      {{/if}}
    </div>
  </div>
</div>
