<div class={{this.computedClass}} ...attributes>
  <span class="text-style-semibold {{this.ellipsisWidth}}">{{@label}}</span>
  <i class="far fa-times-circle" role="button" {{on "click" this.notifyClick}} />
</div>
