{{! @glint-nocheck: not typesafe yet }}
<div class="upf-link" role="button" {{on "click" this.goTo}} ...attributes>
  {{#if @icon}}
    <i class={{@icon}}></i>
  {{/if}}

  {{#if @label}}
    <span class={{if @icon "margin-left-xxx-sm"}}>{{@label}}</span>
  {{/if}}
</div>
