<a href="" class="upf-link" {{on "click" this.preventDefault}} ...attributes>
  {{#if @icon}}
    <i class={{@icon}}></i>
  {{/if}}

  {{#if @label}}
    <span class={{if @icon "margin-left-xxx-sm"}}>{{@label}}</span>
  {{/if}}
</a>
