<div class="oss-panel">
  <div
    class="oss-panel--header"
  >
    {{yield to="header"}}
  </div>
  <div
    class="oss-panel--content"
  >
    {{#if (has-block "header")}}
    <hr
      class="oss-panel--separator"
    />
    {{/if}}
    {{yield to="content"}}
  </div>
  {{#if (has-block "footer")}}
    {{#if (has-block "content")}}
      <hr
        class="oss-panel--separator"
      />
    {{/if}}
    <div
      class="oss-panel--footer"
    >
        {{yield to="footer"}}
    </div>
  {{/if}}
</div>
