<div class="oss-panel">
  {{#if (has-block "header")}}
    <div
      class="oss-panel--header"
    >
      {{yield to="header"}}
    </div>
  {{/if}}
  <div
    class="oss-panel--content"
  >
    {{#if (has-block "header")}}
    <hr
      class="oss-panel--separator"
    />
    {{/if}}
    {{yield to="content"}}
  </div>
  {{#if (has-block "footer")}}
    <div
      class="oss-panel--footer"
    >
      {{#if (has-block "content")}}
        <hr
          class="oss-panel--separator"
        />
      {{/if}}
      {{yield to="footer"}}
    </div>
  {{/if}}
</div>
