<div class="oss-scrollable-panel-container" ...attributes>
  {{#if this.shadowTopVisible}}
    <div class="oss-scrollable-panel--shadow oss-scrollable-panel--shadow__top"></div>
  {{/if}}
  <div class="oss-scrollable-panel-content" {{did-insert this.initScrollListener}}>
    {{yield}}
  </div>
  {{#if this.shadowBottomVisible}}
    <div class="oss-scrollable-panel--shadow oss-scrollable-panel--shadow__bottom"></div>
  {{/if}}
</div>