{{#if @multiple}}
  <div class="fx-1 {{this.computedClass}}" ...attributes>
    {{#each this.rows as |row|}}
      <div class="upf-skeleton-effect" style={{row}}></div>
    {{/each}}
  </div>
{{else}}
  {{#each this.rows as |row|}}
    <div class="upf-skeleton-effect" style={{row}} ...attributes></div>
  {{/each}}
{{/if}}
