<div class={{this.computedClasses}} role="button"
     {{on "click" this.onPostTypeClick}}
     ...attributes>
  <div class="icon-container">
    <i class={{this.iconDefinition}}></i>
  </div>
</div>
