<div class={{this.computedClasses}} role="button"
     {{enable-tooltip title=@tooltip}}
     {{on "click" this.onMediaTypeClick}}
     ...attributes>
    <div class="icon-container">
        <i class={{this.iconDefinition}}></i>
    </div>
</div>