<div class="star-rating fx-row">
  {{#each this.activeStars}}
    <OSS::Icon @style="solid" @icon="fa-star" class={{this.activeColorClass}} />
  {{/each}}
  {{#each this.passiveStars}}
    <OSS::Icon @style="solid" @icon="fa-star" class={{this.passiveColorClass}} />
  {{/each}}
</div>
