<div class="star-rating fx-row">
  {{#each this.activeStars}}
    <i class="fas fa-star {{this.activeColorClass}}"></i>
  {{/each}}
  {{#each this.passiveStars}}
    <i class="fas fa-star {{this.passiveColorClass}}"></i>
  {{/each}}
</div>
