<div
  class={{concat 'oss-toggle-buttons-container ' (if @disabled 'oss-toggle-buttons-container--disabled')}}
  ...attributes
>
  {{#each @toggles as |toggle|}}
    <div
      class='oss-toggle-buttons-btn {{if (eq @selectedToggle toggle.value) " oss-toggle-buttons-btn--selected"}}'
      role='button'
      {{on 'click' (fn this.onSelectToggle toggle.value)}}
    >
      {{toggle.label}}
    </div>
  {{/each}}
</div>