<div class="oss-toggle-buttons-container">
  {{#each @toggles as |toggle|}}
    <div 
        class="oss-toggle-buttons-btn {{if (eq this.selectedToggle toggle.value) 'oss-toggle-buttons-btn--selected'}}" 
        role="button" 
        {{on "click" (fn this.onSelectToggle toggle.value)}}>
        {{toggle.label}}
    </div>
  {{/each}}
</div>