<div class="upf-toggle {{if @value 'upf-toggle--toggled'}} {{if @disabled 'upf-toggle--disabled'}}"
     {{on "click" this.switchState}} ...attributes>
  <div class="upf-toggle__switch">
  </div>
</div>
