.upf-banner {
  border-radius: var(--border-radius-md);
  border-color: var(--color-gray-200);
}

.bg-color-white {
  background-color: @upf-primary-white;
}

.bg-color-grey {
  background-color: var(--color-gray-50);
}
