.upf-banner {
  position: relative;

  border: 1px solid var(--color-border-default);
  border-radius: var(--border-radius-lg);
  padding: var(--spacing-px-18);

  &--selected {
    border-color: var(--color-primary-500);
    background-color: var(--color-primary-50);
    transition: ease-in-out 0.25s;
  }

  &--error {
    .border-color-error;
  }

  &--warning {
    .border-color-warning;
  }

  &--success {
    .border-color-success;
  }

  &--disabled {
    background-color: var(--color-gray-100);
    border: 1px solid var(--color-border-default);

    > i {
      color: var(--color-gray-400);
    }

    > span {
      color: var(--color-gray-400);
    }
  }

  &--size-sm {
    padding: var(--spacing-px-12);
  }

  &--size-lg {
    padding: var(--spacing-px-24);
  }

  transition: ease-in-out 0.25s;
}

.upf-banner--feedback {
  position: absolute;
  bottom: -25px;
  left: 0px;
}

.bg-color-white {
  background-color: var(--color-white);
}

.bg-color-grey {
  background-color: var(--color-gray-50);
}
