.country-selector-container {
  position: relative;

  .row-selected span {
    .text-color-default;
  }

  .upf-infinite-select {
    max-width: 100%;
    .padding-px-12;

    .upf-infinite-select__item {
      padding: 0;
      .padding-top-px-6;
      .padding-bottom-px-6;
    }

    .row-selected span {
      .text-color-default;
    }
  }
}
