.country-selector-container {
  position: relative;

  .upf-input {
    background-color: var(--color-white);
    border: 1px solid var(--color-border-default);

    border-radius: var(--border-radius-sm);
    overflow: hidden;

    &:hover {
      .input-state-hover;
    }

    &:active,
    &.active {
      .input-state-active;
    }

    &:focus {
      .input-state-focus;
    }
  }

  &__dropdown {
    .upf-infinite-select__item {
      padding: 0;

      &:hover,
      &:focus {
        background-color: transparent;
      }
    }
  }

  &--success {
    .yielded-input input,
    .upf-input {
      .upf-input--success;
    }
  }

  &--warning {
    .yielded-input input,
    .upf-input {
      .upf-input--warning;
    }
  }

  &--error {
    .yielded-input input,
    .upf-input {
      .upf-input--errored;
    }
  }
}
