.currency-input-container {
  flex: 1;
  position: relative;

  .currency-input {
    border-radius: var(--border-radius-sm);
    border: 1px solid var(--color-border-default);
    overflow: hidden;
    height: 36px;

    transition: all 250ms ease-in-out;
    background-color: var(--color-white);

    & > div,
    & > input {
      height: 100%;
    }

    input {
      border: none;
      outline: none;
      padding: var(--spacing-px-3) var(--spacing-px-12);
      background-color: var(--color-white);
    }

    &:not(.disabled, :disabled) {
      &:hover {
        .input-state-hover;
      }

      &.currency-input--active {
        .input-state-active;
      }

      &:focus-within {
        .input-state-focus;
      }
    }
  }

  .onlycurrency {
    padding-right: 0;

    .currency-selector {
      border-right: none;
      margin-right: 0;
      width: 100%;
      background-color: transparent;
    }

    &.currency-input--active {
      .input-state-active;
    }
  }

  &--disabled {
    .currency-input {
      cursor: not-allowed;

      input {
        .input-state-disabled;
      }

      .currency-selector {
        cursor: not-allowed;
        background-color: var(--color-gray-100);
      }
    }
  }

  &--errored {
    .currency-input {
      .border-color-error;

      &:not(.disabled, :disabled) {
        &:hover {
          .input-state-error-hover;
        }

        &.currency-input--active {
          .input-state-error-active;
        }

        &:focus-within {
          .input-state-error-focus;
        }
      }
    }

    .onlycurrency {
      &.currency-input--active {
        .input-state-error-active;
      }
    }
  }

  .currency-selector {
    display: flex;
    gap: var(--spacing-px-9);
    padding: var(--spacing-px-3) var(--spacing-px-12);
    background-color: var(--color-gray-50);
    color: var(--color-gray-500);
    border-right: 1px solid var(--color-border-default);
  }

  .upf-infinite-select {
    margin-top: var(--spacing-px-6);
    max-width: 100%;
    min-width: 150px;
    padding: var(--spacing-px-12);

    .upf-infinite-select__item {
      padding: var(--spacing-px-6) 0;
    }

    .row-selected span {
      color: var(--color-gray-900);
    }
  }

  .symbol {
    .font-weight-semibold;
    width: 22px;
  }
}

////////////////////////////////////////////

.immersive-currency-input-container {
  .currency-input-container;
  flex: none;
  // width: fit-content;

  .immersive-currency-input {
    .currency-input;

    height: 32px;
    border: 1.5px dashed var(--color-gray-400);

    .input-container {
      min-width: 50px;
      // width: fit-content;

      input {
        .font-weight-semibold;
        padding: 5px var(--spacing-px-6);
        color: var(--color-gray-400);
        flex: none;
        field-sizing: content;
      }
    }

    .currency-selector {
      gap: var(--spacing-px-6);
      padding: 10px;
      width: 50px;
      border-right: none;
      color: var(--color-gray-500);
    }

    &:not(.disabled, :disabled) {
      &:hover,
      &:focus-within {
        border: 1.5px dashed var(--color-gray-500);
        // background-color: transparent;
        box-shadow: none;
      }
    }
  }

  &--filled {
    .immersive-currency-input {
      border: 1.5px dashed var(--color-primary-400);

      input,
      .currency-selector {
        transition: all 500ms ease-in-out;
        color: var(--color-primary-400);
      }

      .currency-selector {
        background-color: var(--color-primary-50);
      }

      &:not(.disabled, :disabled) {
        &:focus-within {
          border: 1.5px dashed var(--color-primary-400);

          input,
          .currency-selector {
            color: var(--color-primary-400);
          }
        }

        &:hover {
          border: 1.5px dashed var(--color-primary-300);

          input,
          .currency-selector {
            color: var(--color-primary-300);
          }
        }
      }
    }
  }

  &--errored {
    .immersive-currency-input {
      .border-color-error;

      input {
        color: var(--color-gray-400);
      }

      .currency-selector {
        color: var(--color-gray-500);
      }

      &:not(.disabled, :disabled) {
        &:focus-within,
        &:hover {
          border-color: var(--color-error-500);

          input {
            color: var(--color-gray-400);
          }

          .currency-selector {
            color: var(--color-gray-500);
          }
        }
      }
    }
  }

  /////////////////////////////////////////////

  .smart-input__animated-text {
    &.smart-input-wrapper {
      position: relative;
      border: none;
      min-width: 50px;
    }

    .smart-input__animated-text--normal {
      .font-weight-semibold;
      color: var(--color-gray-400);
      padding: 5px var(--spacing-px-6);
    }

    .smart-input__animated-text--fill {
      display: grid;
      justify-content: start;
      position: absolute;
      top: 0;
      left: 0;
      overflow: hidden;
      word-break: keep-all;
      width: 0;
      max-width: fit-content;
      height: 100%;
      background: linear-gradient(
        276.39deg,
        #d8dae4 -27.68%,
        #d0d9ff -5.84%,
        #fac6ff 8.68%,
        rgba(255, 255, 255, 0.3) 17.85%,
        rgba(208, 217, 255, 0.8) 28.01%,
        rgba(250, 198, 255, 0.7) 37.18%
      );

      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      transition: 0.5s width ease-in-out;

      animation: animate-letters 2s linear infinite;

      .fill-wrapper {
        .font-weight-semibold;
        padding: 5px var(--spacing-px-6);
      }
    }
  }

  .smart-currency__input {
    position: relative;
    display: flex;
    align-items: center;
    // border-radius: 30px;
    height: 30px;
    min-width: 50px;
    overflow: hidden;
    // max-width: 0;
    border: 1px solid transparent;
    font-weight: var(--font-weight-semibold);
    // color: var(--color-white);
    transition: all 250ms ease-in-out;

    span {
      display: inline-block;
      visibility: hidden;
      white-space: pre;
      max-width: 200px;
    }

    input {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 5px 6px;
      max-width: 200px;
      min-width: 1px;
      text-align: start;
      outline: none;
      border: none;
      padding: 0;
      caret-color: var(--color-gray-400);
      // height: 100%;
    }

    i.fa-arrow-turn-down-left {
      margin-left: var(--spacing-px-6);
    }

    .keyword-rule-filter-hidden-container {
      width: var(--smart-currency-input-width, 100px);
    }

    .keyword-input-empty-state {
      display: none;
      overflow: hidden;
      white-space: nowrap;
    }

    &--focus {
      max-width: 244px;
      border: 1px solid var(--color-border-default);
      padding: 0 var(--spacing-px-12);
      color: var(--color-gray-400);
      transition: all 250ms ease-in-out;

      input {
        width: var(--smart-currency-input-width, 100px);
      }

      .keyword-input-empty-state {
        display: inline;
        max-width: 0;
        transition: max-width 250ms ease-in-out, color 0s;
      }
    }

    &--empty {
      max-width: 244px;
      padding: 0 var(--spacing-px-12);
      border: 1px dashed var(--color-border-default);
      color: var(--color-gray-300);
      transition: all 250ms ease-in-out;

      .keyword-input-empty-state {
        display: inline;
        max-width: 80px;
        transition: max-width 250ms ease-in-out, color 0s;
      }
    }
  }

  @keyframes animate-letters {
    0% {
      opacity: 0;
      width: 0%;
    }
    10% {
      opacity: 1;
      width: 0%;
    }
    80% {
      opacity: 1;
      width: 100%;
    }
    100% {
      opacity: 0;
      width: 100%;
    }
  }
}
