.oss-navbar-item {
  padding: 6px 12px;
  &--active {
    background-color: var(--color-primary-50);
    padding: 6px 12px;
    i {
      color: var(--color-primary-500);
    }
    span {
      color: var(--color-primary-500);
    }
  }
  &:hover {
    background-color: var(--color-primary-50);
    i {
      color: var(--color-primary-500);
    }
    span {
      color: var(--color-primary-900);
    }
  }
}
