.upf-power-select{
  height: 100%;

  .upf-power-select__array-container {
    position: relative;
    height: 100%;
    .border;
    .border-color-default;
    .border-radius-default;

    .infinite-shadow-scroll {
      position: absolute;
      content: '';
      height: 18px;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, @field-background-color 100%);
    }
  }

  .upf-power-infinite-select-container {
    position: relative;
    height: 100%;
    .padding-top-x-sm;
    .padding-left-x-sm;
    .padding-right-x-sm;
    .border;
    .border-color-default;
    .border-radius-default;
  }

  .has-overflow {
    padding-bottom: @spacing-x-sm;
  }
}
