.upf-power-select {
  height: 100%;

  .upf-power-select__array-container {
    position: relative;
    height: 100%;
    width: 100%;
    cursor: pointer;

    .dropdown-icon {
      position: absolute;
      top: 0;
      right: 0;

      padding: var(--spacing-px-12) var(--spacing-px-12);
    }
  }

  &--borderless {
    .array-input-container {
      border: none;
      &.active {
        &:not(.array-input-container--disabled) {
          box-shadow: none;
          background-color: transparent;
        }
      }
    }
  }

  .upf-power-infinite-select-container {
    position: relative;
    height: 100%;
    .padding-top-x-sm;
    .padding-left-x-sm;
    .padding-right-x-sm;
    .border;
    .border-color-default;
    .border-radius-default;
  }

  .has-overflow {
    padding-bottom: @spacing-x-sm;
  }
}

.upf-power-select__dropdown {
  overflow: hidden;

  &:has(.upf-input) {
    .upf-infinite-select__items-container {
      max-height: calc(var(--floating-max-height) - 78px);
    }
  }
}
