@keyframes slide-in {
  from {
    opacity: 0;
    transform: translate(0, -30%);
  }

  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.toasts-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-px-12);
  top: 56px;
  right: var(--spacing-px-18);
  z-index: 9999;

  .toast {
    display: flex;
    flex-direction: column;
    width: 350px;
    border: 1px solid var(--color-border-default);
    border-radius: var(--border-radius-md);
    overflow: hidden;
    background-color: var(--color-gray-50);
    box-shadow: var(--box-shadow-lg);

    .counter {
      height: 3px;
    }

    .main-container {
      display: flex;
      flex-direction: row;
      padding: var(--spacing-px-12);
      gap: var(--spacing-px-12);
      background-color: var(--color-white);
      .text-size-5;

      button {
        padding: 0 var(--spacing-px-6);
        align-self: baseline;
        border: none;
        background-color: transparent;
      }
    }

    .text-container {
      display: flex;
      flex-direction: column;
      flex: 1;
      gap: 3px;

      .title {
        .font-weight-semibold;
      }

      .subtitle {
        color: var(--color-gray-500);

        a {
          color: var(--color-primary-500);
        }
      }
    }

    &--success {
      .icon {
        color: var(--color-success-500);
      }

      .counter {
        background-color: var(--color-success-500);
      }
    }

    &--error {
      .icon {
        color: var(--color-error-500);
      }

      .counter {
        background-color: var(--color-error-500);
      }
    }

    &--warning {
      .icon {
        color: var(--color-warning-500);
      }

      .counter {
        background-color: var(--color-warning-500);
      }
    }

    &--info {
      .icon {
        color: var(--color-primary-500);
      }

      .counter {
        background-color: var(--color-primary-500);
      }
    }

    &--hidden {
      opacity: 0;
      animation: none;
    }

    &--visible {
      animation: slide-in 0.3s 1;
    }
  }
}

@media screen and (max-width: 400px) {
  .toasts-container {
    left: @spacing-x-sm;

    .toast {
      width: 100%;
    }
  }
}
