# See https://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist/
/tmp/

# dependencies
/bower_components/
/node_modules/
storybook-static

# misc
/.env*
/.pnp*
/.sass-cache
/connect.lock
/coverage/
/libpeerconnection.log
npm-debug.log
testem.log
/yarn-error.log
/package-lock.json
ember-modules-codemod.*

# do not index the generated doc
doc

# ember-try
/.node_modules.ember-try/
/bower.json.ember-try
/package.json.ember-try

# storybook
preview-head.html
