<section class='row'>
  <h3 class='col-xs-12'>Alternative Button Sizes</h3>

  <div class='col-xs-12'>
    <p>
      <code>.upf-btn.upf-btn-x-small</code>
    </p>

    <div>
      <button class='upf-btn upf-btn--x-small upf-btn--orange'>
        Extra Small Button
      </button>

      <button class='upf-btn upf-btn--x-small upf-btn--purple'>
        Extra Small Button
      </button>

      <button class='upf-btn upf-btn--x-small upf-btn--orange--reversed'>
        Extra Small Button
      </button>

      <button class='upf-btn upf-btn--x-small upf-btn--purple--reversed'>
        Extra Small Button
      </button>
    </div>
  </div>

  <div class='col-xs-12 examples-group'>
    <p>
      <code>.upf-btn.upf-btn-small</code>
    </p>

    <div>
      <button class='upf-btn upf-btn--small upf-btn--orange'>
        Small Button
      </button>

      <button class='upf-btn upf-btn--small upf-btn--purple'>
        Small Button
      </button>

      <button class='upf-btn upf-btn--small upf-btn--orange--reversed'>
        Small Button
      </button>

      <button class='upf-btn upf-btn--small upf-btn--purple--reversed'>
        Small Button
      </button>
    </div>
  </div>

  <div class='col-xs-12 examples-group'>
    <p>
      <code>.upf-btn.upf-btn-small</code>
    </p>

    <div>
      <button class='upf-btn upf-btn--large upf-btn--orange'>
        Large Button
      </button>

      <button class='upf-btn upf-btn--large upf-btn--purple'>
        Large Button
      </button>

      <button class='upf-btn upf-btn--large upf-btn--orange--reversed'>
        Large Button
      </button>

      <button class='upf-btn upf-btn--large upf-btn--purple--reversed'>
        Large Button
      </button>
    </div>
  </div>
</section>
