<div class='row margin-top-md'>
  <div class='col-xs-6'>
    <button class='upf-btn upf-btn--x-small upf-btn--orange'>
      Extra Small Button
    </button>
  </div>
  <div class='col-xs-6'>
    <button class='upf-btn upf-btn--x-small upf-btn--orange--reversed'>
      Extra Small Button
    </button>
  </div>
</div>

<div class='row margin-top-md'>
  <div class='col-xs-6'>
    <button class='upf-btn upf-btn--x-small upf-btn--purple'>
      Extra Small Button
    </button>
  </div>

  <div class='col-xs-6'>
    <button class='upf-btn upf-btn--x-small upf-btn--purple--reversed'>
      Extra Small Button
    </button>
  </div>
</div>

<div class='row margin-top-md'>
  <div class='col-xs-6'>
    <button class='upf-btn upf-btn--small upf-btn--orange'>
      Small Button
    </button>
  </div>

  <div class='col-xs-6'>
    <button class='upf-btn upf-btn--small upf-btn--orange--reversed'>
      Small Button
    </button>
  </div>
</div>

<div class='row margin-top-md'>
  <div class='col-xs-6'>
    <button class='upf-btn upf-btn--small upf-btn--purple'>
      Small Button
    </button>
  </div>

  <div class='col-xs-6'>
    <button class='upf-btn upf-btn--small upf-btn--purple--reversed'>
      Small Button
    </button>
  </div>
</div>

<div class='row margin-top-md'>
  <div class='col-xs-6'>
    <button class='upf-btn upf-btn--large upf-btn--orange'>
      Large Button
    </button>
  </div>

  <div class='col-xs-6'>
    <button class='upf-btn upf-btn--large upf-btn--orange--reversed'>
      Large Button
    </button>
  </div>
</div>

<div class='row margin-top-md'>
  <div class='col-xs-6'>
    <button class='upf-btn upf-btn--large upf-btn--purple'>
      Large Button
    </button>
  </div>

  <div class='col-xs-6'>
    <button class='upf-btn upf-btn--large upf-btn--purple--reversed'>
      Large Button
    </button>
  </div>
</div>

<div class='row margin-top-md'>
  <div class='col-xs-4'>
    <button class='upf-btn upf-btn--x-small disabled'>Disabled Btn</button>
  </div>

  <div class='col-xs-4'>
    <button class='upf-btn upf-btn--small disabled'>Disabled Btn</button>
  </div>

  <div class='col-xs-4'>
    <button class='upf-btn upf-btn--large disabled'>Disabled Btn</button>
  </div>
</div>
