<div class='row margin-top-x-lg'>
  <div class='col-xs-6'>
    <button class='upf-btn upf-btn--x-small upf-btn--orange'>
      <span class="upf-btn__icon"></span>
      <span class="upf-btn__text">Extra Small Button</span>
    </button>
  </div>
  <div class='col-xs-6'>
    <button class='upf-btn upf-btn--x-small upf-btn--orange--reversed'>
      <span class='upf-btn__icon'></span>
      <span class='upf-btn__text'>Extra Small Button</span>
    </button>
  </div>
</div>

<div class='row margin-top-md'>
  <div class='col-xs-6'>
    <button class='upf-btn upf-btn--x-small upf-btn--purple'>
      <span class='upf-btn__icon'></span>
      <span class='upf-btn__text'>Extra Small Button</span>
    </button>
  </div>

  <div class='col-xs-6'>
    <button class='upf-btn upf-btn--x-small upf-btn--purple--reversed '>
      Extra Small Button
    </button>
  </div>
</div>

<div class='row margin-top-md'>
  <div class='col-xs-6'>
    <button class='upf-btn upf-btn--x-small disabled'>
      <span class='upf-btn__icon'></span>
      <span class='upf-btn__text'>Extra Small Button</span>
    </button>
  </div>
</div>

<div class='row margin-top-x-lg'>
  <div class='col-xs-6'>
    <button class='upf-btn upf-btn--small upf-btn--orange'>
      <span class='upf-btn__icon'></span>
      <span class='upf-btn__text'>Small Button</span>
    </button>
  </div>

  <div class='col-xs-6'>
    <button class='upf-btn upf-btn--small upf-btn--orange--reversed'>
      <span class='upf-btn__icon'></span>
      <span class='upf-btn__text'>Small Button</span>
    </button>
  </div>
</div>

<div class='row margin-top-md'>
  <div class='col-xs-6'>
    <button class='upf-btn upf-btn--small upf-btn--purple'>
      <span class='upf-btn__icon'></span>
      <span class='upf-btn__text'>Small Button</span>
    </button>
  </div>

  <div class='col-xs-6'>
    <button class='upf-btn upf-btn--small upf-btn--purple--reversed'>
      <span class='upf-btn__icon'></span>
      <span class='upf-btn__text'>Small Button</span>
    </button>
  </div>
</div>

<div class='row margin-top-md'>
  <div class='col-xs-6'>
    <button class='upf-btn upf-btn--small disabled'>
      <span class='upf-btn__icon'></span>
      <span class='upf-btn__text'>Small Button</span>
    </button>
  </div>
</div>

<div class='row margin-top-x-lg'>
  <div class='col-xs-6'>
    <button class='upf-btn upf-btn--large upf-btn--orange'>
      <span class='upf-btn__icon'></span>
      <span class='upf-btn__text'>Large Button</span>
    </button>
  </div>

  <div class='col-xs-6'>
    <button class='upf-btn upf-btn--large upf-btn--orange--reversed'>
      <span class='upf-btn__icon'></span>
      <span class='upf-btn__text'>Large Button</span>
    </button>
  </div>
</div>

<div class='row margin-top-md'>
  <div class='col-xs-6'>
    <button class='upf-btn upf-btn--large upf-btn--purple'>
      <span class='upf-btn__icon'></span>
      <span class='upf-btn__text'>Large Button</span>
    </button>
  </div>

  <div class='col-xs-6'>
    <button class='upf-btn upf-btn--large upf-btn--purple--reversed'>
        <span class='upf-btn__icon'></span>
        <span class='upf-btn__text'>Large Button</span>
    </button>
  </div>
</div>
<div class='row margin-top-md'>
  <div class='col-xs-6'>
    <button class='upf-btn upf-btn--large disabled'>
      <span class='upf-btn__icon'></span>
      <span class='upf-btn__text'>Large Button</span>
    </button>
  </div>
</div>
