<section class='row'>
  <h3 class='col-xs-12'>Standard Buttons (medium button)</h3>
  <p class='col-xs-12'><code>.upf-btn--orange</code></p>

  <div class='col-xs-4'>
    <button class='upf-btn upf-btn--orange'>Normal State</button>
  </div>

  <div class='col-xs-4'>
    <button class='upf-btn upf-btn--orange active'>Active/Hover</button>
  </div>

  <div class='col-xs-4'>
    <button class='upf-btn upf-btn--orange disabled'>Disabled</button>
  </div>
</section>

<section class='row examples-group'>
  <p class='col-xs-12'><code>.upf-btn.upf-btn--orange--reversed</code></p>

  <div class='col-xs-4'>
    <button class='upf-btn upf-btn--orange--reversed'>Normal State</button>
  </div>

  <div class='col-xs-4'>
    <button class='upf-btn upf-btn--orange--reversed active'>
      Active/Hover
    </button>
  </div>

  <div class='col-xs-4'>
    <button class='upf-btn upf-btn--orange--reversed disabled'>
      Disabled
    </button>
  </div>
</section>

<section class='row examples-group'>
  <p class='col-xs-12'><code>.upf-btn.upf-btn--purple</code></p>

  <div class='col-xs-4'>
    <button class='upf-btn upf-btn--purple'>Normal State</button>
  </div>

  <div class='col-xs-4'>
    <button class='upf-btn upf-btn--purple active'>Active/Hover</button>
  </div>

  <div class='col-xs-4'>
    <button class='upf-btn upf-btn--purple disabled'>Disabled</button>
  </div>
</section>

<section class='row examples-group'>
  <p class='col-xs-12'><code>.upf-btn--purple--reversed</code></p>

  <div class='col-xs-4'>
    <button class='upf-btn upf-btn--purple--reversed'>
      Normal State
    </button>
  </div>

  <div class='col-xs-4'>
    <button class='upf-btn upf-btn--purple--reversed active'>
      Active/Hover
    </button>
  </div>

  <div class='col-xs-4'>
    <button class='upf-btn upf-btn--purple--reversed disabled'>
      Disabled
    </button>
  </div>
</section>

<section class='row examples-group'>
  <div class='col-xs-6'>
    <p><code>.upf-btn--orange--transparent</code></p>
    <button class='upf-btn upf-btn--orange--transparent'>
      Transparent
    </button>
  </div>

  <div class='col-xs-6'>
    <p><code>.upf-btn--purple--transparent</code></p>
    <button class='upf-btn upf-btn--purple--transparent'>
      Transparent
    </button>
  </div>
</section>
