<div class='row margin-top-md'>
  <div class='col-xs-6'>
    <button class='upf-btn upf-btn--orange'>Normal State</button>
  </div>
  <div class='col-xs-6'>
    <button class='upf-btn upf-btn--orange--reversed'>Normal State</button>
  </div>
</div>

<div class='row margin-top-md'>
  <div class='col-xs-6'>
    <button class='upf-btn upf-btn--purple'>Normal State</button>
  </div>

  <div class='col-xs-6'>
    <button class='upf-btn upf-btn--purple--reversed'>Normal State</button>
  </div>
</div>

<div class='row margin-top-md'>
  <div class='col-xs-6'>
    <button class='upf-btn upf-btn--orange--transparent'>Transparent</button>
  </div>

  <div class='col-xs-6'>
    <button class='upf-btn upf-btn--purple--transparent'>Transparent</button>
  </div>
</div>

<div class='row margin-top-md'>
  <div class='col-xs-12'>
    <button class='upf-btn disabled'>Disabled Btn</button>
  </div>
</div>
