<div class='standard-buttons__white-bg padding-xx-sm'>
  <div class='row'>
    <div class='col-xs-4'>
      <button class='upf-btn upf-btn--default'>Default Button</button>
    </div>

    <div class='col-xs-4'>
      <button class='upf-btn upf-btn--default upf-btn--small'>
        Default Button
      </button>
    </div>

    <div class='col-xs-4'>
      <button class='upf-btn upf-btn--default upf-btn--x-small'>
        Default Button
      </button>
    </div>
  </div>

  <div class='row margin-top-md'>
    <div class='col-xs-4'>
      <button class='upf-btn upf-btn--primary'>Primary Button</button>
    </div>

    <div class='col-xs-4'>
      <button class='upf-btn upf-btn--primary upf-btn--small'>
        Primary Button
      </button>
    </div>

    <div class='col-xs-4'>
      <button class='upf-btn upf-btn--primary upf-btn--x-small'>
        Primary Button
      </button>
    </div>
  </div>

  <div class='row margin-top-md'>
    <div class='col-xs-4'>
      <button class='upf-btn upf-btn--secondary'>Secondary Button</button>
    </div>

    <div class='col-xs-4'>
      <button class='upf-btn upf-btn--secondary upf-btn--small'>
        Secondary Button
      </button>
    </div>

    <div class='col-xs-4'>
      <button class='upf-btn upf-btn--secondary upf-btn--x-small'>
        Secondary Button
      </button>
    </div>
  </div>

  <div class='row margin-top-md'>
    <div class='col-xs-4'>
      <button class='upf-btn upf-btn--secondary disabled'>
        Disabled Button
      </button>
    </div>

    <div class='col-xs-4'>
      <button class='upf-btn upf-btn--secondary upf-btn--small disabled'>
        Disabled Button
      </button>
    </div>

    <div class='col-xs-4'>
      <button class='upf-btn upf-btn--secondary upf-btn--x-small disabled'>
        Disabled Button
      </button>
    </div>
  </div>
</div>

<div class='standard-buttons__gray-bg margin-top-md padding-xx-sm'>
  <div class='row'>
    <div class='col-xs-4'>
      <button class='upf-btn upf-btn--default'>Default Button</button>
    </div>

    <div class='col-xs-4'>
      <button class='upf-btn upf-btn--default upf-btn--small'>
        Default Button
      </button>
    </div>

    <div class='col-xs-4'>
      <button class='upf-btn upf-btn--default upf-btn--x-small'>
        Default Button
      </button>
    </div>
  </div>

  <div class='row margin-top-md'>
    <div class='col-xs-4'>
      <button class='upf-btn upf-btn--primary'>Primary Button</button>
    </div>

    <div class='col-xs-4'>
      <button class='upf-btn upf-btn--primary upf-btn--small'>
        Primary Button
      </button>
    </div>

    <div class='col-xs-4'>
      <button class='upf-btn upf-btn--primary upf-btn--x-small'>
        Primary Button
      </button>
    </div>
  </div>

  <div class='row margin-top-md'>
    <div class='col-xs-4'>
      <button class='upf-btn upf-btn--secondary'>Secondary Button</button>
    </div>

    <div class='col-xs-4'>
      <button class='upf-btn upf-btn--secondary upf-btn--small'>
        Secondary Button
      </button>
    </div>

    <div class='col-xs-4'>
      <button class='upf-btn upf-btn--secondary upf-btn--x-small'>
        Secondary Button
      </button>
    </div>
  </div>

  <div class='row margin-top-md'>
    <div class='col-xs-4'>
      <button class='upf-btn upf-btn--secondary disabled'>
        Disabled Button
      </button>
    </div>

    <div class='col-xs-4'>
      <button class='upf-btn upf-btn--secondary upf-btn--small disabled'>
        Disabled Button
      </button>
    </div>

    <div class='col-xs-4'>
      <button class='upf-btn upf-btn--secondary upf-btn--x-small disabled'>
        Disabled Button
      </button>
    </div>
  </div>
</div>

<div class='standard-buttons__dark-bg margin-top-md padding-xx-sm'>
  <div class='row'>
    <div class='col-xs-4'>
      <button class='upf-btn upf-btn--primary upf-btn--dark-bg'>
        Primary Button
      </button>
    </div>

    <div class='col-xs-4'>
      <button class='upf-btn upf-btn--primary upf-btn--dark-bg upf-btn--small'>
        Primary Button
      </button>
    </div>

    <div class='col-xs-4'>
      <button class='upf-btn upf-btn--primary upf-btn--dark-bg upf-btn--x-small'>Primary Button</button>
    </div>
  </div>

  <div class='row margin-top-md'>
    <div class='col-xs-4'>
      <button class='upf-btn upf-btn--secondary upf-btn--dark-bg'>
        Secondary Button
      </button>
    </div>

    <div class='col-xs-4'>
      <button class='upf-btn upf-btn--secondary upf-btn--dark-bg upf-btn--small'>
        Secondary Button
      </button>
    </div>

    <div class='col-xs-4'>
      <button class='upf-btn upf-btn--secondary upf-btn--dark-bg upf-btn--x-small'>
        Secondary Button
      </button>
    </div>
  </div>

  <div class='row margin-top-md'>
    <div class='col-xs-4'>
      <button class='upf-btn upf-btn--secondary upf-btn--dark-bg disabled'>
        Disabled Button
      </button>
    </div>

    <div class='col-xs-4'>
      <button class='upf-btn upf-btn--secondary upf-btn--dark-bg upf-btn--small disabled'>
        Disabled Button
      </button>
    </div>

    <div class='col-xs-4'>
      <button class='upf-btn upf-btn--secondary upf-btn--dark-bg upf-btn--x-small disabled'>
        Disabled Button
      </button>
    </div>
  </div>
</div>
