//
// Buttons
// --------------------------------------------------

@import '../mixins/_buttons';
@import '../mixins/_coloring';

.btn {
  font-weight: bold;
}

.btn-xs {
  padding: 0.2rem 1.5rem;
}

.btn-sm {
  padding: 0.6rem 2rem;
}

.btn-md {
  padding: 0.8rem 3rem;
}

.btn-lg {
  padding: 1.1rem 5rem;
}

//
// Social Medias
// --------------------------------------------------
//

.upf-btn--social-instagram {
  .upf-btn--social;
  background: linear-gradient(to right, #f77737, #e1306c);
}

.upf-btn--social-facebook {
  .upf-btn--social;
  background-color: var(--color-facebook-500);
}

.upf-btn--social-youtube {
  .upf-btn--social;
  background-color: var(--color-youtube-500);
}

// A Button with a right icon
// This type is of button can be typically used to announce that clicking it
// will lead to somewhere, making it useful for MultiSteps processes, Actions
// leading to visual results (like performing a search), etc.
//
.upf-btn--has-right-icon {
  transition: all 0.5s ease;

  &:hover {
    .upf-btn__right-icon {
      transition: margin 0.5s ease;
      margin-left: 1.5em;
    }
  }

  .upf-btn__right-icon {
    margin-left: 1em;
  }
}
