.oss-slider--container {
  display: flex;
  align-items: center;
  width: 100%;

  .oss-toggle-buttons-container {
    max-width: 126px;
  }

  .oss-slider--range-container {
    position: relative;
    width: 100%;
    .upf-tooltip {
      position: absolute;
      left: var(--upf-modifier-tooltip-left);
    }
  }

  .custom-range {
    -webkit-appearance: none;
    width: 100%;
    height: 3px;
    background: linear-gradient(
      to right,
      var(--color-primary-500) var(--range-percentage, 50%),
      var(--color-gray-200) var(--range-percentage, 50%)
    );
    position: relative;
    border-radius: 5px;
    outline: none;
    transition: background 1s;
  }

  .custom-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: var(--spacing-px-12);
    height: var(--spacing-px-12);
    background: white;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
  }

  .custom-range::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: var(--spacing-px-12);
    height: var(--spacing-px-12);
    background: white;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
  }

  .custom-number {
    width: 60px;
    height: var(--spacing-px-36);
    padding: var(--spacing-px-9);
    border: 1px solid var(--color-gray-200);
    border-radius: var(--border-radius-sm);
    text-align: center;
  }
}

// KILL LATER

.upf-slider {
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;

  .min-max-value {
    min-width: 20px;
  }

  .min-value {
    text-align: right;
  }

  .irs-handle {
    transition: background-color 0.3s ease;
  }

  .irs--round {
    height: 7px;
    width: 100%;
    margin-right: 15px;
    margin-left: 15px;

    .irs-line,
    .irs-bar {
      height: 7px;
      top: 0px;
      background-color: @field-background-color;
    }

    .irs-handle {
      border: none;
      top: -6px;
      width: 18px;
      height: 18px;
      box-shadow: none;
      background-color: @upf-primary-rock-blue;
    }

    .irs-single {
      opacity: 0;
      top: -42px;
      padding: 8px 10px;
      background-color: black;
      transition: opacity 0.3s ease;

      .fa {
        .font-weight-semibold;
      }

      &:before {
        border-top-color: black;
      }
    }

    &:hover {
      .irs-single {
        opacity: 1;
      }
    }
  }
}
