@import '../mixins/_coloring';
@import '../utilities/_typography';

/*
 * Tags
 * Tags are used to provide additional informations about something.
 */

.upf-tag {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--spacing-px-24);
  border-radius: 12px;
  padding: 0 var(--spacing-px-9);
  transition: background-color 0.3s ease, color 0.3s ease;
  gap: var(--spacing-px-6);
  min-width: 0;

  span {
    .text-ellipsis-80;
  }

  &--regular {
    background-color: var(--color-primary-50);
    color: var(--color-primary-500);

    &.upf-tag--plain {
      background-color: var(--color-primary-500);
      color: var(--color-white);
    }
  }

  &--primary-gradient {
    background: var(--primary-gradient-500);
    color: var(--color-white);
  }

  &--success {
    background-color: var(--color-success-50);
    color: var(--color-success-500);

    &.upf-tag--plain {
      background-color: var(--color-success-500);
      color: var(--color-white);
    }
  }

  &--alert {
    background-color: var(--color-warning-50);
    color: var(--color-warning-500);

    &.upf-tag--plain {
      background-color: var(--color-warning-500);
      color: var(--color-white);
    }
  }

  &--neutral,
  &--inactive {
    background-color: var(--color-gray-100);

    &.upf-tag--plain {
      background-color: var(--color-gray-900);
      color: var(--color-white);
    }
  }

  &--critical {
    background-color: var(--color-error-50);
    color: var(--color-error-500);

    &.upf-tag--plain {
      background-color: var(--color-error-500);
      color: var(--color-white);
    }
  }

  &--xtd-orange {
    background-color: var(--color-orange-50);
    color: var(--color-orange-500);

    &.upf-tag--plain {
      background-color: var(--color-orange-500);
      color: var(--color-white);
    }
  }

  &--xtd-cyan {
    background-color: var(--color-cyan-50);
    color: var(--color-cyan-500);

    &.upf-tag--plain {
      background-color: var(--color-cyan-500);
      color: var(--color-white);
    }
  }

  &--xtd-yellow {
    background-color: var(--color-yellow-50);
    color: var(--color-yellow-500);

    &.upf-tag--plain {
      background-color: var(--color-yellow-500);
      color: var(--color-white);
    }
  }

  &--xtd-blue {
    background-color: var(--color-blue-50);
    color: var(--color-blue-500);

    &.upf-tag--plain {
      background-color: var(--color-blue-500);
      color: var(--color-white);
    }
  }

  &--xtd-violet {
    background-color: var(--color-violet-50);
    color: var(--color-violet-500);

    &.upf-tag--plain {
      background-color: var(--color-violet-500);
      color: var(--color-white);
    }
  }

  &--xtd-lime {
    background-color: var(--color-lime-50);
    color: var(--color-lime-500);

    &.upf-tag--plain {
      background-color: var(--color-lime-500);
      color: var(--color-white);
    }
  }

  &--chat-gpt {
    background: var(--color-smart-gradient-50);

    div,
    i {
      .font-color-smart-gradient;
    }

    &.upf-tag--plain {
      background: var(--color-smart-gradient-500);

      div,
      i {
        background: var(--color-white);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
      }
    }
  }

  &--xs {
    padding: 0 var(--spacing-px-6);
    height: var(--spacing-px-18);
    gap: var(--spacing-px-3);

    i {
      font-size: var(--font-size-xs);
    }
  }
}
