<div class="fx-col fx-gap-px-12" {{did-update this.onVisibleState @step.displayState}}>
  <span>Example step with overflowing contents</span>
  <span>First name:</span>
  <OSS::InputContainer />
  <span>Last name:</span>
  <OSS::InputContainer />
  <span>Address:</span>
  <OSS::InputContainer />
  <span>City:</span>
  <OSS::InputContainer />
  <span>State:</span>
  <OSS::InputContainer />
  <span>Zip code:</span>
  <OSS::InputContainer />
  <span>Country:</span>
  <OSS::InputContainer />
  <span>Phone number:</span>
  <OSS::InputContainer />
  <span>Email:</span>
  <OSS::InputContainer />
  <span>Notes:</span>
  <OSS::TextArea />
  <span>Additional information:</span>
  <OSS::TextArea />
  <span>Comments:</span>
  <OSS::TextArea />
  <span>Feedback:</span>
  <OSS::TextArea />
  <span>Pet name:</span>
  <OSS::InputContainer />
  <span>Favorite color:</span>
  <OSS::InputContainer />
  <span>Hobbies:</span>
  <OSS::TextArea />
  <span>Interests:</span>
  <OSS::TextArea />
</div>