.color-text {
  color: @color-text
}

.color-text-light {
  color: @color-text-light
}

.color-text-lighter {
  color: @color-text-lighter
}

.dark {
  background-color: black;
  border-radius: @default-radius;
  padding: 5px;
}

.color-text-contrast {
  color: @color-text-contrast
}

.color-text-contrast-light {
  color: @color-text-contrast-light
}

.color-text-contrast-lighter {
  color: @color-text-contrast-lighter
}

.input-size-default {
  height: @input-size-default
}

.input-size-sm {
  height: @input-size-sm
}

.input-size-x-sm {
  height: @input-size-x-sm
}

.border-box {
  border-radius: @default-radius;
  border: 1px solid;
  border-color: @border-color;

  padding: 20px;
}
