<div class="oss-sidebar-item" disabled={{if this.locked "disabled"}} {{on "click" this.onClick}} role="button"
     ...attributes>
  {{#if this.locked}}
    <div class="oss-sidebar-item--locked">
      <OSS::Icon @style="solid" @icon="fa-lock" />
    </div>
  {{/if}}
  <div class="oss-sidebar-item--icon">
    <OSS::Icon @style={{fa-icon-style @icon}} @icon={{fa-icon-value @icon}} />
  </div>
  {{#if this.hasNotifications}}
    <span class="oss-sidebar-item--notification" />
  {{/if}}
</div>
