.oss-carousel {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-px-12);
  position: relative;

  &__reverse {
    flex-direction: column-reverse;
  }

  .page-btn {
    padding: var(--spacing-px-3);
    color: var(--color-gray-200);
    font-size: 6px;

    &:hover,
    &--active {
      color: var(--color-gray-500);
    }
  }

  .carousel-control {
    position: absolute;
    top: calc(50% - 18px);
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--spacing-px-36);
    height: var(--spacing-px-36);
    border-radius: 50%;
    border: 1px solid var(--color-border-default);
    background-color: var(--color-white);
    padding: 0;
    color: var(--color-gray-600);
    text-align: center;
    transition: opacity 0.5s ease;

    &--left {
      left: var(--spacing-px-12);
    }

    &--left-outside {
      left: 0;
      transform: translateX(-50%);
    }

    &--right {
      right: var(--spacing-px-12);
    }

    &--right-outside {
      right: 0;
      transform: translateX(50%);
    }
  }

  &:has(.oss-carousel__indicators) .carousel-control {
    top: calc(50% - 4px);
  }

  .page-container {
    display: block;
    position: relative;
    overflow: hidden;
    width: 100%;

    .page {
      width: 100%;
      margin-right: -100%;
      display: none;
      float: left;
      position: relative;
      transition: transform 0.5s ease-in-out;

      &--active {
        display: flex;
        justify-content: center;
      }
    }
  }

  .animate {
    &--shift-from-left {
      animation: shift-from-left 0.5s forwards;
    }

    &--shift-from-right {
      animation: shift-from-right 0.5s forwards;
    }

    &--slide-from-left {
      animation: slide-from-left 0.5s forwards;
    }

    &--slide-from-right {
      animation: slide-from-right 0.5s forwards;
    }

    &--slide-to-left {
      animation: slide-to-left 0.5s forwards;
    }

    &--slide-to-right {
      animation: slide-to-right 0.5s forwards;
    }
  }
}

@keyframes shift-from-left {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes shift-from-right {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes slide-from-left {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes slide-from-right {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes slide-to-left {
  0% {
    transform: translateX(0);
    opacity: 1;
  }

  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}

@keyframes slide-to-right {
  0% {
    transform: translateX(0);
    opacity: 1;
  }

  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}
