@media screen and (-webkit-device-pixel-ratio: 1) {
  .oss-sidebar-item--locked {
    padding-left: 1px;
    padding-bottom: 1px;
  }

  .oss-sidebar-item--icon {
    padding: 1px;
  }
}

.oss-sidebar--containers {
  height: 100vh;
  width: var(--sidebar-width);

  background-color: var(--sidebar-bg-color);
  border-right: 1px solid var(--sidebar-outer-border-color);

  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: var(--topbar-height);
    max-height: var(--topbar-height);

    margin-right: -1px;
    border-bottom: 1px solid var(--sidebar-inner-border-color);
    img {
      width: 30px;
      height: 30px;
    }
  }

  .oss-sidebar--content {
    padding: var(--spacing-px-12) 0px;
  }

  .oss-sidebar--footer {
    border-top: 1px solid var(--sidebar-inner-border-color);
    margin-right: -1px;
    padding: var(--spacing-px-12) var(--spacing-px-9);
  }
}

.oss-sidebar-item {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 42px;
  width: 42px;

  color: var(--sidebar-font-color);
  font-size: var(--font-size-lg);
  border-radius: var(--border-radius-md);
  transition: color 300ms ease-in-out, background-color 300ms ease-in-out;

  cursor: pointer;

  &:hover {
    text-decoration: none;
    color: var(--sidebar-font-color);
  }

  &:not(:hover):not(.active) .oss-sidebar-item--icon,
  &[disabled] .oss-sidebar-item--icon {
    opacity: 75%;
  }

  &:not([disabled]) {
    &:hover {
      background-color: var(--sidebar-item-hover-bg-color);
      outline: 1px solid var(--sidebar-inner-border-color);
      outline-offset: -1px;
    }

    &:active {
      background-color: var(--sidebar-item-pressed-bg-color);
      box-shadow: var(--sidebar-item-pressed-box-shadow);
    }
  }

  &.active {
    color: var(--sidebar-item-active-font-color);
    background-color: var(--sidebar-item-active-bg-color);
    border: 1px solid var(--sidebar-inner-border-color);
  }

  .oss-sidebar-item--notification {
    position: absolute;
    top: 9px;
    right: 9px;

    height: 3px;
    width: 3px;

    background-color: var(--color-accent);
    border-radius: var(--border-radius-md);
  }

  .oss-sidebar-item--locked {
    position: absolute;
    top: 3px;
    left: 3px;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 15px;
    width: 15px;

    background-color: var(--sidebar-item-hover-bg-color);

    border: 1px solid var(--sidebar-inner-border-color);
    border-radius: var(--border-radius-sm);

    opacity: 100%;
    z-index: 10;
    i {
      font-size: 8px;
    }
  }
}
