<div class='oss-sidebar--containers fx-col' ...attributes>
  <OSS::Anchor @link={{@homeURL}} class='logo-container'>
    <img src={{@logo}} alt='brand' />
  </OSS::Anchor>
  <div class='oss-sidebar--content fx-1 fx-col fx-xalign-center fx-gap-px-9'>
    {{yield to='content'}}
  </div>
  {{#if (has-block 'footer')}}
    <div class='oss-sidebar--footer fx-col fx-xalign-center fx-gap-px-9'>
      {{yield to='footer'}}
    </div>
  {{/if}}
</div>