@import 'upfluence-oss';
@import 'living-oss/stats';
@import 'living-oss/icons';
@import 'living-oss/buttons';

@font-text-body: 'GT Eesti Text Book', 'Helvetica Neue', 'Helvetica', sans-serif;

html, body {
  background-color: white;
  padding-bottom: 2em;
  font-family: @font-text-body;
  height: 100vh;
  line-height: 1.5rem;
}

.app-main--along-sidebar section, .app-main--below-topbar section {
  margin-top: 5%;
}

.examples-group {
  margin-top: 3%
}

.home {
  height: 100vh;
  background-image: url(/oss.png);
  background-repeat: no-repeat;
  background-size: cover;

  h1, h4 {
    color: @color-text-contrast;
  }
}

.colors {
  .color {
    border-radius: @default-radius;
    margin: 2% 0 0 2%;
    padding: 0;

    .square {
      height: 170px;
    }

    .color-meta {
      background-color: rgba(0, 0, 0, 0.3);
      border-bottom-left-radius: @default-radius;
      border-bottom-right-radius: @default-radius;
      padding: 5%;

      p { color: @color-text-contrast; }
    }

    &.upf-primary-black .color-meta {
      background-color: rgba(255,255,255,0.3);
    }

    // Primary Colors
    &.upf-primary-bright-purple { background-color: @upf-primary-bright-purple; }
    &.upf-primary-dark-purple { background-color: @upf-primary-dark-purple; }
    &.upf-primary-orange { background-color: @upf-primary-orange; }
    &.upf-primary-rock-blue { background-color: @upf-primary-rock-blue; }
    &.upf-primary-black { background-color: @upf-primary-black; }
    &.upf-primary-white { background-color: @upf-primary-white; }

    // Status Colors
    &.upf-feedback-success { background-color: @upf-feedback-success; }
    &.upf-feedback-error { background-color: @upf-feedback-error; }
    &.upf-feedback-alert { background-color: @upf-feedback-alert; }
/*    &.upfluence-secondary-light { background-color: @upfluence-secondary-light; }*/
    /*&.upfluence-secondary-dark { background-color: @upfluence-secondary-dark; }*/
    /*&.upfluence-gray { background-color: @upfluence-gray; }*/
    /*&.upfluence-gray-dark { background-color: @upfluence-gray-dark; }*/
    /*&.upfluence-success { background-color: @upfluence-success; }*/
    /*&.upfluence-error { background-color: @upfluence-error; }*/
  }
}

.inputs {
  textarea {
    height: 20.6rem;
  }

  .upf-input-container--errorful {
    margin-top: 4em;
  }
}

.typography {
  .font {
    border: 1px solid @upf-gray-dark;
    border-radius: @default-radius;
    padding: 0;

    .square {
      height: 100px;
      border-bottom: 1px solid @upf-gray-dark;
      font-family: inherit;

      span {
        color: @color-text;
        font-family: inherit;
        font-size: 3em;
        position: absolute;
        right: 30%;
        top: 10%;
        text-align: center;
      }
    }

    .font-meta {
      padding: 10%;
      text-align: center;

      p {
        color: @color-text;
      }
    }

    &.headlines {
      font-family: @font-text-title;
    }

    &.text {
      font-family: @font-text-body;
    }
  }

  .text-colors {
    padding: 1em 3em;
    margin: 2em 0;
    text-align: center;
  }

  .text-colors--bright-bg {
    .text-colors;

    background-color: @upf-primary-white;
    color: @color-text;

    .color-text { color: @color-text }
    .color-text-light { color: @color-text-light }
    .color-text-lighter { color: @color-text-lighter }
  }

  .text-colors--dark-bg {
    .text-colors;

    background-color: @upf-primary-dark-purple;

    .color-text-contrast { color: @color-text-contrast }
    .color-text-contrast-light { color: @color-text-contrast-light }
    .color-text-contrast-lighter { color: @color-text-contrast-lighter }
  }

  .upf-align--left,
  .upf-align--center,
  .upf-align--right {
    padding: 1em;
    background-color: @upf-primary-white;
  }
}


/* Tables part - to be moved to oss */

@spacing-xx-lg: 5em;

.upf-datatable {
  position: absolute;
  left: 0;
  right: 0;

  table-layout: fixed;
  width: 100%;
}

.upf-datatable__row {
  border-bottom: 1px solid lighten(@upf-gray, 15%);

  th:first-of-type, td:first-of-type {
    padding-left: @spacing-xx-sm;
  }

  th, td {
    color: @color-text-light;
    padding: @spacing-xxx-sm;
    overflow: hidden;
  }
}

.upf-datatable__row:not(.upf-datatable__row--header) {
  &:hover {
    background-color: @upf-gray-light;
  }

  .upf-datatable__column {
    height: @spacing-xx-lg;

    &:hover:not(.upf-datatable__column--unsortable) {
      cursor: pointer;
      color: @upf-primary-bright-purple;
      transition: color 0.4s;
    }
  }

  td:not(:last-child) {
    border-right: 1px solid lighten(@upf-gray, 15%);
  }
}

.upf-datatable__row--header {
  overflow: hidden;
  text-transform: capitalize;

  .upf-datatable__column:hover:not(.upf-datatable__column--unsortable) {
    border-bottom: 1px solid @upf-primary-bright-purple;
    color: @upf-primary-bright-purple;
    cursor: pointer;
  }

  .upf-datatable__column.upf-datatable__column--descending:after {
    content: " ↑";
  }

  .upf-datatable__column.upf-datatable__column--ascending:after {
    content: " ↓";
  }
}

// By Philippe: The subnav with table actions
.upf-contextual-nav {
  background-color: @upf-primary-orange-dark;
  padding: @spacing-x-sm;
}

.upf-checkbox__label {
  left: @spacing-md;
}

.upf-checkbox__fake-checkbox {
  margin-bottom: 0px;
  user-select: none;
  vertical-align: text-bottom;
}

.upf-datatable__side-panel {
  background-color: @upf-primary-dark-purple;
  display: none;
  opacity: 0;
  z-index: 1;

  height: 500px;
  overflow-y: auto;


  padding: @spacing-md;
  position: absolute;
  right: 0;
  width: 25%;
}

.upf-datatable__side-panel--visible {
  display: block;
  opacity: 1;
}
