@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 400 700;
  src: url('/@upfluence/oss-components/assets/fonts/inter-variable.woff2') format('woff2-variations');
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-display: swap;
  font-weight: 400 700;
  src: url('/@upfluence/oss-components/assets/fonts/roboto-mono-variable.woff2') format('woff2-variations');
}

@font-face {
  font-family: 'Reddit Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 400 600;
  src: url('/@upfluence/oss-components/assets/fonts/reddit-sans-variable.woff2') format('woff2-variations');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 400 700;
  src: url('/@upfluence/oss-components/assets/fonts/open-sans-variable.woff2') format('woff2-variations');
}
