{{!-- Went through the codebase and there is no occurence of a `upf-table` being invoked with `hasToggleableColumns=true` --}}
{{!-- anyway --}}
<OSS::Button @icon="fa fa-columns" class="button-column-visibility-panel" />

{{#if displayedColumnsPanel}}
  <div class="upf-datatable__side-panel--arrow-up side-panel--appearance"></div>
  <div class="upf-datatable__side-panel side-panel--appearance column-visibility-panel">
    {{#each columns as |column|}}
      {{#unless column.unhideable}}
        <div class="margin-bottom-sm">
          {{#upf-checkbox value=column.visible hasLabel=true}}
            <span class="text-color-contrast">{{column.title}}</span>
          {{/upf-checkbox}}
        </div>
      {{/unless}}
    {{/each}}
  </div>
{{/if}}
