{{#input-wrapper error='Hi! My name is error. But you can call me Nickelback'}}
  <label>Label</label>
  <input type='text' value='This one has an error'
             class='form-control upf-input' />
{{/input-wrapper}}
