{{#input-wrapper help='I am here for you'}}
  <div class='input-group'>
    <div class='input-group-addon'><i class='fa fa-key'></i></div>
    <input type='text' placeholder='Some random placeholder text'
           class='form-control upf-input' />
  </div>
{{/input-wrapper}}
