{{#input-wrapper error='I am here to signal there is an error there'}}
{{#input-wrapper help='I am here for you'}}

{{#input-wrapper}}
  <label>Label</label>
  <input type='text' placeholder='Some random placeholder text'
            class='form-control upf-input' />
{{/input-wrapper}}
