<div>
  {{standard-stat number=87 title='Sent'
                              type='demo-stats__stat--sent-email'
                              upfIcon='paper-plane' upfIconColor='bright-purple'
  }}
</div>
