<div class='upf-stat-block'>
  <span class='upf-stat-block__title'>Emailing Campaign Overview</span>

  <p class='upf-stat-block__description'>
    Out of <span class='upf-stat-block__stats-total'>165</span> sent
    emails
  </p>

  <div class='upf-stat-block__stats'>
    {{standard-stat number=100 title='opened'
                    class='upf-stat-block__stat'}}

    {{standard-stat number=60 title='replied'
                    class='upf-stat-block__stat'}}

    {{standard-stat number=5 title='bounced'
                    class='upf-stat-block__stat'}}
  </div>
</div>
