<button class='upf-btn upf-btn--orange'>Orange Button</button>

<button class='upf-btn upf-btn--orange--reversed'>Ghost Orange Button</button>

<button class='upf-btn upf-btn--purple'>Purple Button</button>

<button class='upf-btn upf-btn--purple--reversed'>Ghost Purple Button</button>

<button class='upf-btn upf-btn--orange--transparent'>Transparent Button</button>

<button class='upf-btn disabled'>Disabled</button>
