<div>
  <div class='upf-stat'>
    <div class='upf-stat__number-container'>
      <div class='upf-progress-radial
                  demo-stats__stat--scheduled-email
                  progress-40 upf-progress-radial-lg'>
        <div class='overlay'>
          <span class='upf-stat__icon'>
            {{upf-icon 'clock' 'orange' 'thicker'}}
          </span>
          <span class='upf-stat__number'>40</span>
        </div>
      </div>
    </div>
    <span class='upf-stat__title'>Scheduled</span>
  </div>
</div>
