<div class={{this.computedClass}} ...attributes>
  <div class="smart-blob">
    <img
      src="/@upfluence/oss-components/assets/images/smart-blob-loading.gif"
      alt="smart-blob-loading"
      class={{this.loadingClass}}
    />
    <img
      src="/@upfluence/oss-components/assets/images/smart-blob-inactive.gif"
      alt="smart-blob-inactive"
      class={{this.inactiveClass}}
    />
  </div>
</div>