<span class='upf-table__group-column'>{{mainAttributeValue}}</span><br />
{{#each _groupedAttributeValues as |groupedAttributeValue|}}
  {{#if groupedAttributeValue}}
    <span class='upf-table__group-column--secondary'>{{groupedAttributeValue}}</span><br/>
  {{/if}}
{{/each}}
