<div class='row-selector__input-wrapper upf-align--center'>
  <div class="upf-checkbox center-block">
    {{input type='checkbox' id=(concat elementId '-row-selector')
            class='upf-checkbox__input' click=(action 'selectRecord' record)}}
    <label for="{{concat elementId '-row-selector'}}" class='upf-checkbox__label'></label>
  </div>
</div>
