@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  font-family: 'Open Sans', sans-serif;
}

.theme-sidebar {
  background-color: #4c00ff;
}

.theme-sidebar-footer {
  display: none;
}

#color-palette .i-example { border: none }
#color-palette .i-example .i-example__heading:first-child,
#color-palette .i-code-block {
  display: none;
}

#color-palette .i-example .i-example__body {
  padding: 0;
}
