<div class="oss-panel-content--row" ...attributes>
  {{#if @icon}}
    <div class="oss-panel-content--row--icon-wrapper">
      <OSS::Icon @icon={{@icon}} />
    </div>
  {{/if}}
  <span class="font-color-gray-500">
    {{@label}}
  </span>
</div>
