<div class="oss-navbar-item fx-1 {{if @active "oss-navbar-item--active"}}" ...attributes>
  <OSS::Icon @icon={{@icon}} class="font-color-gray-500" />
  <span class="font-color-gray-600 font-size-sm">{{@label}}</span>
  {{yield to="extra"}}
</div>