@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

:root {
  --font-size-xs: 10px;
  --font-size-sm: 12px;
  --font-size-md: 14px;
  --font-size-lg: 16px;

  --font-size-heading-1: 30px;
  --font-size-heading-2: 25px;
  --font-size-heading-3: 20px;
  --font-size-heading-4: 15px;

  --font-text-line-height: 1.6;
  --font-heading-line-height: 1.6;

  --font-family-stack: Inter, 'Helvetica Neue', Helvetica, sans-serif;
}

.font-size-xs {
  line-height: var(--font-text-line-height);
  font-size: var(--font-size-xs);
}

.font-size-sm {
  line-height: var(--font-text-line-height);
  font-size: var(--font-size-sm);
}

.font-size-md {
  line-height: var(--font-text-line-height);
  font-size: var(--font-size-md);
}

.font-size-lg {
  line-height: var(--font-text-line-height);
  font-size: var(--font-size-lg);
}

.font-weight-semibold {
  font-weight: 600;
}
