.oss-attribute {
  min-height: 24px;
  max-height: 24px;
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  padding-left: var(--spacing-px-9);
  padding-right: var(--spacing-px-9);
  gap: var(--spacing-px-9);
  border-radius: var(--border-radius-sm);
  transition: all 0.25s ease-in-out;

  &__label {
    display: flex;
    color: var(--color-gray-400);
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: var(--spacing-px-6);

    &__info {
      align-items: center;
      cursor: pointer;
    }
  }

  &__value {
    color: var(--color-gray-900);
    flex: 1;
  }

  &:hover {
    background: var(--color-gray-50);
  }

  &__copy {
    margin-left: auto;
    opacity: 0;
    transition: opacity 0.25s ease-in-out;

    &--visible {
      opacity: 1;
    }
  }

  &--auto-height {
    height: auto;
    max-height: max-content;

    .oss-attribute__label {
      align-self: flex-start;
      height: 24px;
    }
  }

  &--no-hover-effect {
    &:hover {
      background: initial;
    }
  }
}
