.oss-input-container {
  position: relative;

  &--errored {
    input,
    .yielded-input input,
    input:focus,
    .yielded-input input:focus {
      .border;
      .border-color-error;
      .border-radius-default;
    }
  }

  .upf-input {
    width: 100%;
  }

  textarea.upf-input {
    max-width: 100%;
    height: var(--height-pc-100);
  }

  .yielded-input input {
    &:extend(.upf-input);
    width: 100%;
  }

  .yielded-input input:focus {
    &:extend(.upf-input:focus);
  }

  .yielded-input input:disabled {
    &:extend(.upf-input:disabled);
  }

  .morpheme {
    position: absolute;
    top: 0px;
    bottom: 0px;
    align-items: center;
    display: flex;
  }

  .suffix {
    .morpheme;
    right: 0;
    padding-right: 10px;
    padding-left: 8px;
  }

  .prefix {
    .morpheme;
    left: 0;
    padding-right: 8px;
    padding-left: 10px;
  }

  &.has-prefix input {
    padding-left: 25px;
  }

  &.has-suffix input {
    padding-right: 25px;
  }
}
