.oss-progress-bar--wrapper {
  min-width: 220px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  p {
    font-weight: 200;
    margin: 0 6px;
  }
}

.oss-progress-bar {
  width: 100%;
  border-radius: var(--border-radius-sm);
  background-color: darken(@upf-gray-light, 8%);
  margin-bottom: 0;
  overflow: hidden;

  .oss-progress-bar--inner {
    height: 100%;
    width: 0;
    border-radius: var(--border-radius-sm) 0 0 var(--border-radius-sm);
    transition: width 0.6s ease;
    height: 10px;

    &--small {
      height: 4px;
    }

    &--primary {
      background-color: var(--color-primary-500);
    }
    &--warning {
      background-color: var(--color-warning-500);
    }

    &--success {
      background-color: var(--color-success-500);
    }
  }
}
