<div class="padding-lg">
  {{upf-table
    columns=upfTableState.columns collection=collection options=tableOptions
    onColumnsChange=(action "columnsChanged")
    onSearchQueryChange=(action "performSearch")
    refreshing=refreshing contextualActions="contextual-actions"}}
</div>
