<div class="padding-lg">
  {{upf-table
    manager=tableManager collection=collection options=tableOptions
    onColumnsChange=(action "columnsChanged")
    onSearchQueryChange=(action "performSearch")
    contextualActions="contextual-actions"}}
</div>
