<div class="fx-col fx-gap-px-10 margin-md">
  <div class="fx-row fx-gap-px-10">
    <div class="fx-col fx-gap-px-10">
      <OSS::Button @skin="destructive" @label="destructive" @icon="fas fa-box-open" @size="md" />
      <OSS::Button @skin="destructive" @square="true" @icon="fas fa-box-open" @size="md" />
    </div>
    <div class="fx-col fx-gap-px-10">
      <OSS::Button @skin="alert" @label="alert" @icon="fas fa-box-open" @size="md" />
      <OSS::Button @skin="alert" @square="true" @icon="fas fa-box-open" @size="md" />
    </div>
    <div class="fx-col fx-gap-px-10">
      <OSS::Button @skin="secondary" @label="secondary" @icon="fas fa-box-open" @size="md" />
      <OSS::Button @skin="secondary" @square="true" @icon="fas fa-box-open" @size="md" />
    </div>
    <div class="fx-col fx-gap-px-10">
      <OSS::Button @skin="default" @label="default" @icon="fas fa-box-open" @size="md" />
      <OSS::Button @skin="default" @square="true" @icon="fas fa-box-open" @size="md" />
    </div>
    <div class="fx-col fx-gap-px-10">
      <OSS::Button @skin="success" @label="success" @icon="fas fa-box-open" @size="md" />
      <OSS::Button @skin="success" @square="true" @icon="fas fa-box-open" @size="md" />
    </div>
  </div>
  <div class="fx-row fx-gap-px-10">
    <OSS::Button @skin="primary" @size="xs" @label="XS" @icon="far fa-envelope-open" />
    <OSS::Button @skin="primary" @size="sm" @label="SM" @icon="far fa-envelope-open" />
    <OSS::Button @skin="primary" @size="md" @label="MD" @icon="far fa-envelope-open" />
    <OSS::Button @skin="primary" @size="lg" @label="LG" @icon="far fa-envelope-open" />
  </div>
  <div class="fx-row fx-gap-px-10">
    <OSS::Button @square="true" @skin="primary" @size="sm" @icon="far fa-envelope-open" />
    <OSS::Button @square="true" @skin="primary" @size="md" @icon="far fa-envelope-open" />
    <OSS::Button @square="true" @skin="primary" @size="lg" @icon="far fa-envelope-open" />
  </div>
</div>
