<div class='row-fluid'>
  {{#app-base}}
    {{#app-header headerStyle='sidebar'}}
      {{partial 'partials/sidebar-menu'}}
    {{/app-header}}

    <div class='col-xs-11 app-main--along-sidebar'>
      {{outlet}}
    </div>
  {{/app-base}}
</div>
