Test content goes here.

<button {{on "click" (fn this.triggerToast "success")}}>success</button>
<button {{on "click" (fn this.triggerToast "error")}}>error</button>
<button {{on "click" (fn this.triggerToast "warning")}}>warning</button>
<button {{on "click" (fn this.triggerToast "info")}}>info</button>

<OSS::Button>Test</OSS::Button>
<OSS::Button @size="x-small">Test</OSS::Button>
<OSS::Button @size="small">Test</OSS::Button>
<OSS::Button @loading="true">Test</OSS::Button>
<OSS::Button @skin="primary">Test middle</OSS::Button>
<OSS::Button @skin="secondary">Test very longgggggggggggggg</OSS::Button>
<OSS::Button @skin="destructive">Test</OSS::Button>
<OSS::Button @skin="social-instagram">Test</OSS::Button>
<OSS::Button @skin="social-facebook">Test</OSS::Button>
<OSS::Button @skin="social-youtube">Test</OSS::Button>
