Test content goes here.

<button {{on "click" (fn this.triggerToast "success")}}>success</button>
<button {{on "click" (fn this.triggerToast "error")}}>error</button>
<button {{on "click" (fn this.triggerToast "warning")}}>warning</button>
<button {{on "click" (fn this.triggerToast "info")}}>info</button>
