<div class="padding-lg">
  {{upf-table
    columns=upfTableState.columns collection=collection hasSelection=true
    hasSearch=true onColumnsChange=(action "columnsChanged")
    onSearchQueryChange=(action "performSearch")
    refreshing=refreshing contextualActions="contextual-actions"}}
</div>
