<section class='col-xs-11 center-block buttons'>
  <div class='row'>
    <h2 class='col-xs-12'>Buttons <span>(<code>.upf-btn</code>)</span></h2>
    <div class='row'>
      <div class='col-xs-6'>
        <div class='col-xs-12'>
          {{partial 'partials/buttons/standard'}}
        </div>
      </div>

      <div class='col-xs-6'>
        <div class='col-xs-12'>
          {{partial 'partials/buttons/alternative-sizes'}}
        </div>
        <div class='col-xs-12'>
          {{partial 'partials/buttons/controls'}}
        </div>
      </div>
    </div>
  </div>
</section>
