<section class='col-xs-11 center-block buttons'>
  <div class='row'>
    <h2 class='col-xs-12'>Buttons <span>(<code>.upf-btn</code>)</span></h2>
    <div class='col-xs-12'>
      {{render 'partials/buttons'}}
    </div>
  </div>
</section>
