<section class='col-xs-11 center-block buttons'>
    <h2 class='col-xs-12'>Buttons <code>.upf-btn</code></h2>
    <div class='col-xs-12'>
      <p>
        Buttons are best used to enable a user to perform a change or complete
        steps in a task. They are typically found inside forms, modal dialogs, or
        pages. They can for example be used in order to confirm a change in a form
        (Update Password).
      </p>
      <p>
        Our <code>.upf-btn</code> class is used only as a base class and needs
        the developer to add the necessary modifiers in order to get the
        button's final style.
      </p>
    </div>
    <div class='col-xs-12'>
      <div class='row'>
        <div class='col-xs-12'>
          <h3>Standard Buttons</h3>
          <p>
            We currently have 3 types of buttons:
            <ol>
              <li>
                <strong>Default Button</strong>, acquired via the
                <code>.upf-btn--default</code> modifier. This button is mostly
                to be used if you have to align multiple buttons without them
                having a real hierarchy.
              </li>
              <li>
                <strong>Primary Button</strong>, acquired via the
                <code>.upf-btn--primary</code> modifier. This button is to be
                used if you need to identify the primary actions in a set of
                buttons.
              </li>
              <li>
                <strong>Secondary Button</strong>, acquired via the
                <code>.upf-btn--secondary</code> modifier. This button is to be
                used if you need to mark a difference between the primary and
                secondary actions in a set of buttons. For example if, in a
                modal dialog, you have a  primary "Confirm Change" button, your
                "Cancel" button should be a secondary one.
              </li>
            </ol>

            Those buttons are available in 3 different sizes:
            <ol>
              <li>
                <strong>Default size</strong>: which requires no modifier and
                is the one we use accross our apps for all buttons.
              </li>
              <li>
                <strong>Small button</strong>: which is acquired by adding the
                <code>.upf-btn--small</code> modifier. This one is to be used in
                case you have a small container (in height). For example, in a
                datatable's header or in the navbar (which is 48px in height).
              </li>
              <li>
                <strong>Extra Small button</strong>: which is acquired by adding
                the <code>.upf-btn--x-small</code> modifier. You can use this
                one for really small containers. For example, to display buttons
                in a table's column to perform row actions.
              </li>
            </ol>
          </p>

          <div>
            {{partial 'partials/buttons/standard'}}
          </div>
        </div>
      </div>

      <div class='col-xs-12 margin-bottom-lg'>
        {{partial 'partials/buttons/controls'}}
      </div>

      <div class='col-xs-12 margin-bottom-lg'>
        {{partial 'partials/buttons/stateful'}}
      </div>
    </div>
</section>
