<section class='col-xs-11 center-block colors'>
  <div class='row'>
    <div class='col-xs-12'>
      <h3 class='col-xs-12'>Primary Colors</h3>
      <p class='col-xs-12'>
        These are the colors defined by the Upfluence Visual Design Guidelines.
      </p>
      <div class='col-xs-12'>
        {{partial 'partials/primary-colors'}}
      </div>
    </div>

    <div class='col-xs-12'>
      <h3 class='col-xs-12'>Status Colors</h3>
      <p class='col-xs-12'>
        These are the colors used in every feedback provided to the user:
        informations, help, error, success...
      </p>
      <div class='col-xs-12'>
        {{partial 'partials/status-colors'}}
      </div>
    </div>
  </div>
</section>
