<section class='col-xs-9 center-block inputs'>
  <div>
    <div class='col-xs-12'>
      <h4>Wysiwyg Editor</h4>
      <div class='col-xs-12'>
        {{#input-wrapper}}
          <label>Label</label>
          {{summer-note height='200' class='col-xs-12' content=lorem}}
        {{/input-wrapper}}
      </div>
    </div>

    <div class='col-xs-12'>
      <h4>Tables</h4>
      <div class='col-xs-12'>
        {{data-table data=model columns=tableColumns}}
      </div>
    </div>
  </div>
</section>
