<section class='col-xs-11 center-block'>
  <div class='row'>
    <h2>Wysiwyg Editor</h2>
    <div class='col-xs-12'>
      <div class='col-xs-12'>
        {{data-table data=model columns=tableColumns}}
      </div>
    </div>
  </div>
</section>
