<div class='row-fluid home'>
  <div class='col-xs-5 col-xs-offset-6'>
    <h1>A frontend framework for the gentlemen of Upfluence</h1>
    <h4>
      A set of design patterns, components and resources used accross our
      products.
    </h4>
  </div>
  <div class='clearfix'></div>
</div>
