<section class='col-xs-11 center-block fonts'>
  <div class='row'>
    <h3 class='col-xs-12'>Typography</h3>
    <div class='col-xs-6'>
      <h4>Titles</h4>
      <div class='row'>
        <div class='col-xs-3 font titles'>
          <div class='text-center square'>
            <h2>Aa</h2>
          </div>
          <div class='font-meta text-center'>
            <p class='color-name'>GT Eesti Medium</p>
          </div>
        </div>
        <div class='col-xs-6 col-xs-offset-1'>
          <h1>h1 - Heading</h1>
          <h2>h2 - Heading</h2>
          <h3>h3 - Heading</h3>
          <h4>h4 - Heading</h4>
          <h5>h5 - Heading</h5>
        </div>
      </div>
    </div>

    <div class='col-xs-6'>
      <h4>Text</h4>
      <div class='row'>
        <div class='col-xs-3 font text'>
          <div class='text-center square'>
            <span>Aa</span>
          </div>
          <div class='font-meta text-center'>
            <p class='color-name'>GT Eesti Book</p>
          </div>
        </div>
        <div class='col-xs-5 col-xs-offset-1'>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
