<section class='col-xs-11 center-block typography'>
  <div class='row'>
    <h2 class='col-xs-12'>Typography</h2>
    <div class='col-xs-12'>
      <h3>Fonts</h3>
      {{partial 'partials/typography-fonts'}}
    </div>

    <div class='col-xs-12'>
      <h3>Text Colors</h3>
      {{partial 'partials/typography-text-colors'}}
    </div>

    <div class='col-xs-12'>
      <h3>Helper Classes</h3>
      {{partial 'partials/typography-helpers'}}
    </div>
  </div>
</section>
