<section class='col-xs-11 center-block typography'>
  <div class='row'>
    <h2 class='col-xs-12'>Typography</h2>
    <div class='col-xs-12'>
      <div class='row'>
        <h3 class='col-xs-12'>Fonts</h3>
        <p class='col-xs-12'>
          GT Eesti is the font officially provided by the Branding Team. It
          comes in two types: Medium, which is naturally "bold"; and Book
          which has a normal weight.
        </p>
        <div class='col-xs-6'>
          <h4>Headlines</h4>
          <div class='col-xs-12'>
            <div class='row'>
              <div class='col-xs-3 font headlines'>
                <div class='text-center square'>
                  <span>Aa</span>
                </div>
                <div class='font-meta'>
                  <p>GT Eesti Medium</p>
                  <p>@font-text-title</p>
                </div>
              </div>
              <div class='col-xs-6 col-xs-offset-1'>
                <h1>h1 - Heading</h1>
                <h2>h2 - Heading</h2>
                <h3>h3 - Heading</h3>
                <h4>h4 - Heading</h4>
                <h5>h5 - Heading</h5>
              </div>
            </div>
          </div>
        </div>

        <div class='col-xs-6'>
          <h4>Body</h4>
          <div class='row'>
            <div class='col-xs-3 font text'>
              <div class='text-center square'>
                <span>Aa</span>
              </div>
              <div class='font-meta'>
                <p>GT Eesti Book</p>
                <p>@font-text-body</p>
              </div>
            </div>
            <div class='col-xs-5 col-xs-offset-1'>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                aliquip ex ea commodo consequat.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class='col-xs-12'>
        <div class='row'>
          <h3 class=''>Text Colors</h3>
          <div class='col-xs-12 text-colors--bright-bg'>
            <div class='row'>
              <div class='col-xs-4'>
                <p class='color-text'>Text on bright background</p>
                <p class='color-text'>Default bright background: @upf-primary-white</p>
                <p class='color-text'></p>
              </div>

              <div class='col-xs-4'>
                <p class='color-text'>@color-text</p>
                <p class='color-text-light'>@color-text-light</p>
                <p class='color-text-lighter'>@color-text-lighter</p>
              </div>

              <div class='col-xs-4'>
                <p class='color-text'>rgba(0, 0, 0, 87%)</p>
                <p class='color-text-light'>rgba(0, 0, 0, 54%)</p>
                <p class='color-text-lighter'>rgba(0, 0, 0, 46%)</p>
              </div>
            </div>
          </div>

          <div class='col-xs-12 text-colors--dark-bg'>
            <div class='row'>
              <div class='col-xs-4'>
                <p class='color-text-contrast'>
                  Text on dark/colourful background
                </p>
                <p class='color-text-contrast'>
                  Default dark background: @upf-primary-dark-purple
                </p>
              </div>

              <div class='col-xs-4'>
                <p class='color-text-contrast'>@color-text-contrast</p>
                <p class='color-text-contrast-light'>@color-text-contrast-light</p>
                <p class='color-text-contrast-lighter'>@color-text-contrast-lighter</p>
              </div>

              <div class='col-xs-4'>
                <p class='color-text-contrast'>rgba(255, 255, 255, 100%)</p>
                <p class='color-text-contrast-light'>
                  rgba(255, 255, 255, 70%)
                </p>
                <p class='color-text-contrast-lighter'>
                  rgba(255, 255, 255, 50%)
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
