@keyframes upf-skeleton-content {
  0% {
    background-position: -200px 0;
  }

  100% {
    background-position: calc(200px + 100%) 0;
  }
}

.upf-skeleton-effect {
  animation: upf-skeleton-content 1.2s ease-in-out infinite;
  background-color: var(--color-gray-100);
  background-image: linear-gradient(90deg, var(--color-gray-100), var(--color-gray-200), var(--color-gray-100));
  background-size: 200px 100%;
  background-repeat: no-repeat;
  border-radius: var(--border-radius-md);
  display: inline-block;
  line-height: 1;
}
