<OSS::Attribute::Base @value={{this.countryName}} data-control-name="attribute-country" ...attributes>
  <:label>
    <span>{{t "oss-components.attribute.country"}}</span>
    {{#if (not-eq this.countryName "-")}}
      <div class="fflag fflag-{{@countryCode}} ff-round ff-sm"></div>
    {{/if}}
  </:label>
</OSS::Attribute::Base>
