<OSS::Attribute::Base data-control-name="attribute-rating" ...attributes>
  <:label>
    <span>{{@label}}</span>
  </:label>
  <:value>
    {{#if @rating}}
      <OSS::StarRating @rating={{@rating}} @totalStars={{5}} @activeColor="yellow"
                       @passiveColor="yellow" @passiveStyle="regular" @onChange={{this.onClick}} />
    {{else}}
      -
    {{/if}}
  </:value>
</OSS::Attribute::Base>
