{{! @glint-nocheck: not typesafe yet }}
<OSS::Attribute::Base @value={{this.value}} @copyable={{@copyable}} data-control-name="attribute-text" ...attributes>
  <:label>
    <span>{{@label}}</span>
    {{#if @tooltip}}
      <OSS::Icon @icon="far fa-info-circle" class="oss-attribute__info"
                 {{enable-tooltip title=@tooltip placement="top"}} />
    {{/if}}
  </:label>
</OSS::Attribute::Base>
