.oss-button-dropdown {
  position: relative;

  .oss-button-dropdown__trigger-square {
    width: var(--spacing-px-36);
    display: flex;
    justify-content: center;
    gap: var(--spacing-px-3);
    align-items: center;

    div {
      padding-left: 0;

      &[role='button'] {
        padding-right: 0;
      }

      &:last-child {
        padding: 0;
        &[role='button'] {
          border-left: 0;
          padding: 0;
        }
      }
    }
  }

  &__trigger {
    background-color: var(--color-white);
    border: 1px solid var(--color-gray-200);
    border-radius: var(--border-radius-sm);
    height: var(--spacing-px-36);
    padding: var(--spacing-px-6) 0;
    transition: all 0.25s ease-in-out;

    div {
      height: var(--spacing-px-36);
      padding-left: var(--spacing-px-18);

      &[role='button'] {
        padding-right: var(--spacing-px-18);
      }

      &:last-child {
        padding: 0 var(--spacing-px-18);

        &[role='button'] {
          padding: 0 var(--spacing-px-12);

          border-left: 1px solid var(--color-gray-200);
        }
      }
    }

    i,
    span {
      color: var(--color-gray-900);
      transition: all 0.25s ease-in-out;
    }

    &:hover,
    &:active {
      border: 1px solid var(--color-gray-300);
    }

    &:hover {
      background-color: var(--color-gray-50);
      box-shadow: 0px 0px 0px 2px var(--color-gray-100), var(--box-shadow-xs);
    }

    &:active {
      i,
      span {
        color: var(--color-gray-500);
      }

      background-color: var(--color-white);
      box-shadow: 0px 0px 0px 2px var(--color-gray-100);
    }

    &--active {
      border: 1px solid var(--color-gray-300);
      box-shadow: 0px 0px 0px 2px var(--color-primary-100);

      i,
      span {
        color: var(--color-gray-600);
      }
    }
  }

  .oss-button-dropdown__items {
    .box-shadow-md;

    position: absolute;
    top: 100%;
    right: 0;
    margin-top: var(--spacing-px-6);
    background-color: var(--color-white);
    min-width: 180px;
    border: 1px solid var(--color-border-default);
    border-radius: var(--border-radius-sm);
    z-index: 99;

    &--visible {
      display: flex;
      flex-direction: column;
      border: 1px solid var(--color-border-default);
      border-radius: var(--border-radius-sm);
    }

    .oss-button-dropdown__item {
      display: flex;
      align-items: center;
      padding: var(--spacing-px-6) var(--spacing-px-12);
      gap: var(--spacing-px-9);

      &:not(:last-child) {
        border-bottom: 1px solid var(--color-border-default);
      }

      &:hover {
        background-color: var(--color-gray-50);
      }

      &:focus,
      &:active {
        background-color: var(--color-gray-100);
      }

      &.oss-button-dropdown__item--disabled {
        .font-color-gray-400;
        &:hover {
          background-color: var(--color-white);
        }
      }
    }
  }
}
