.password-input-validator {
  transition: all 250ms ease-in-out;

  .validator-icon-container {
    position: relative;
    width: var(--spacing-px-12);
    display: flex;
    align-items: center;

    .validator-icon {
      position: absolute;
      display: flex;
      width: var(--spacing-px-12);
      justify-content: center;
      opacity: 0;
      transition: transform 300ms ease-in-out;

      &--visible {
        opacity: 1;
      }
    }

    .validator-icon:first-of-type {
      transform: rotate(0);
    }
    .validator-icon:last-of-type {
      opacity: 0;
      transform: scale(0.8) rotate(225deg);
    }
    .validator-icon.morphed:first-of-type {
      transform: rotate(135deg);
    }
    .validator-icon.morphed {
      opacity: 1;
      transform: scale(1) rotate(1turn);
    }
    .validator-icon.unmorphed {
      opacity: 0;
      transform: scale(1) rotate(-1turn);
    }
  }
}
