.oss-select-container {
  position: relative;

  .upf-input {
    background-color: var(--color-white);
    user-select: none;

    border: 1px solid var(--color-border-default);
    border-radius: var(--border-radius-sm);
    overflow: hidden;

    transition: all 250ms ease-in-out;
    color: var(--color-gray-900);

    &--placeholder {
      color: var(--color-gray-400);
    }
  }

  &--disabled .upf-input {
    .input-state-disabled;
  }

  &:not(.oss-select-container--disabled, .oss-select-container--errorful, .oss-select-container--successful)
    .upf-input {
    &:hover {
      .input-state-hover;
    }

    &:active,
    &.active {
      .input-state-active;
    }

    &:focus {
      .input-state-focus;
    }
  }

  :not(&--disabled)&--errorful .upf-input {
    .border-color-error;
    &:hover {
      .input-state-error-hover;
    }

    &:active,
    &.active {
      .input-state-error-active;
    }

    &:focus {
      .input-state-error-focus;
    }
  }

  :not(&--disabled)&--successful .upf-input {
    border: 1px solid var(--color-success-500);
    &:hover {
      .input-state-hover;
      border: 1px solid var(--color-success-500);
    }

    &:active,
    &.active {
      .input-state-active;
      border-color: var(--color-success-500);
      box-shadow: 0px 0px 0px 2px var(--color-success-100), var(--box-shadow-xs);
    }

    &:focus {
      .input-state-focus;
      border-color: var(--color-success-500);
    }
  }
}

.oss-select-container__dropdown {
  margin-top: var(--spacing-px-6);
  max-width: 100%;
  min-width: 100%;
  padding: var(--spacing-px-12);

  .upf-infinite-select__item {
    padding: 0;

    .item-wrapper {
      padding: var(--spacing-px-6) var(--spacing-px-6);
      border-radius: var(--border-radius-sm);

      &.selected {
        background-color: var(--color-gray-100);
      }
    }
  }
}
