.oss-textarea-container {
  position: relative;

  .oss-textarea {
    width: 100%;
    min-height: var(--spacing-px-36);
    height: auto;

    border: 1px solid var(--color-border-default);
    color: var(--color-gray-900);
    background-color: var(--color-white);

    transition: all 250ms ease-in-out;

    &:not(:disabled, .disabled) {
      &::placeholder {
        color: var(--color-gray-400);
      }

      &:hover {
        .input-state-hover;
      }

      &:active {
        .input-state-active;
      }

      &:focus {
        .input-state-focus;
      }
    }

    &.disabled,
    &:disabled {
      .input-state-disabled;
    }
  }

  &--errored {
    .oss-textarea,
    .oss-textarea:focus,
    .oss-textarea:hover {
      .border;
      .border-color-error;
      .border-radius-default;

      &:not(:disabled, .disabled) {
        &:hover {
          .input-state-error-hover;
        }
        &:active {
          .input-state-error-active;
        }
        &:focus {
          .input-state-error-focus;
        }
      }
    }
  }
}

.oss-textarea {
  .upf-input;

  padding: var(--spacing-px-6) var(--spacing-px-12);

  &--resize-v {
    resize: vertical;
  }

  &--resize-h {
    resize: horizontal;
  }

  &--resize-none {
    resize: none;
  }

  &::-webkit-scrollbar {
    border-top-right-radius: var(--border-radius-sm);
  }

  &::-webkit-scrollbar-corner {
    background: inherit;
    border-bottom-right-radius: var(--border-radius-sm);
  }

  &::-webkit-resizer {
    background: right bottom no-repeat url('/assets/upf-icons/resizer.svg');
    border-bottom-right-radius: var(--border-radius-sm);
  }
}
