.oss-toggle-buttons-container {
  .border-radius-default;
  .background-color-gray-100;
  .font-color-gray-900;

  display: flex;
  flex: 1;
  height: 30px;
  padding: var(--spacing-px-3);

  .oss-toggle-buttons-btn {
    .border-radius-default;

    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: var(--spacing-px-3);

    &--selected {
      .background-color-white;

      box-shadow: var(--box-shadow-xs);
    }
  }

  &--disabled {
    gap: var(--spacing-px-3);

    .oss-toggle-buttons-btn {
      background-color: var(--color-gray-200);
      color: var(--color-gray-400);
    }
  }
}
