.oss-upload-area-container {
  input[type='file'] {
    display: none;
  }

  .oss-upload-area {
    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px dashed var(--color-border-default);
    border-radius: var(--border-radius-md);

    .oss-upload-area__illustration {
      position: relative;

      img {
        border-radius: var(--border-radius-md);
      }
    }

    &--md {
      padding: var(--spacing-px-18);

      .oss-upload-area__illustration img {
        width: 32px;
        height: 32px;
      }
    }

    &--lg {
      height: 165px;
      padding: var(--spacing-px-24);

      .oss-upload-area__illustration {
        position: relative;

        img {
          width: 48px;
          height: 56px;
        }
      }
    }

    &--dragging,
    &:hover:not(&--disabled) {
      background-color: var(--color-primary-50);
      border-color: var(--color-primary-500);
      cursor: pointer;
      transition: all 0.25s ease-in-out;

      .oss-upload-area__illustration--dragging {
        &-md {
          img {
            transform: translateX(-4px) rotate(-15deg);
            transition: all 0.25s ease-in-out;
          }

          &:before {
            content: '';
            background-image: url('/@upfluence/oss-components/assets/images/upload-area/disabled-md.svg');
            background-size: cover;
            position: absolute;
            display: block;
            top: 6px;
            width: 24px;
            height: 24px;
            transform: rotate(15deg);
            animation: dragging-md 0.25s ease-in-out forwards;
          }
        }

        &-lg {
          z-index: 1;

          img {
            transform: translateY(-6px);
            transition: all 0.25s ease-in-out;
          }

          &:before {
            content: '';
            background-image: url('/@upfluence/oss-components/assets/images/upload-area/disabled-lg.svg');
            background-size: cover;
            position: absolute;
            display: block;
            bottom: 0;
            width: 28px;
            height: 40px;
            animation: dragging-lg--left 0.25s ease-in-out forwards;
          }

          &:after {
            content: '';
            background-image: url('/@upfluence/oss-components/assets/images/upload-area/disabled-lg.svg');
            background-size: cover;
            position: absolute;
            display: block;
            bottom: 0;
            width: 28px;
            height: 40px;
            animation: dragging-lg--right 0.25s ease-in-out forwards;
            z-index: -1;
          }
        }
      }
    }

    &--disabled {
      background-color: var(--color-gray-200);
      border-color: var(--color-gray-300);
    }
  }

  .oss-upload-item {
    display: flex;
    align-items: center;
    gap: var(--spacing-px-12);

    border: 1px solid var(--color-border-default);
    border-radius: var(--border-radius-md);

    padding: var(--spacing-px-18);

    &__loader {
      height: 30px;
      width: 30px;
      border-radius: 50%;
      transition: background-image 0.5s linear;

      .value {
        height: 26px;
        width: 26px;
        top: 2px;
        left: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        border-radius: 50%;
        background-color: var(--color-white);
        color: var(--color-gray-500);
        font-size: 12 / @rem;
      }
    }

    &--errored {
      border-color: var(--color-error-500);
    }
  }

  @keyframes dragging-md {
    from {
      opacity: 0;
      left: 0;
    }

    to {
      opacity: 1;
      left: 16px;
    }
  }

  @keyframes dragging-lg--right {
    from {
      opacity: 0;
      left: 26px;
    }

    to {
      opacity: 1;
      left: 40px;
      transform: rotate(15deg);
    }
  }

  @keyframes dragging-lg--left {
    from {
      opacity: 0;
      left: -8px;
    }

    to {
      opacity: 1;
      left: -20px;
      transform: rotate(-15deg);
    }
  }
}
